.add_top{
	margin:0px;
	padding:0px;
	float:left;
	width:500px;
	text-align:right;
}

.clear{ clear:both; font-size:0px;}

.btn_con{
	margin:0px;
	padding:0px;
	float:right;
	position:relative;
	bottom:-60px;
	right:0px;
}

.editicon_btn{position:absolute; bottom:0px; right:45px;}

.deleteicon_btn{ position:absolute; bottom:0px; right:5px;}


.addleftcon{ margin:0px; padding:0px; float:left; width:;}


.add-con{
	float:left;
	margin:5px;
	padding:0px;
}

.add-con dl{
	float:left;
	margin:5px 0px 0px;
	padding:0px 0px 5px 0px;
	width:490px;
}

.add-con dl dt{
	float:left;
	margin:0px;
	padding:0px 0px 0px 0px;
	width:245px;
	text-align:left;
}

.add-con dl dd{
	float:left;
	margin:0px;
	padding:0px;
	width:245px;
}

.addinput{
	margin:0px;
	padding:5px 10px 4px 10px;
	float:left;
	width:210px;
	height:30px;
	background:url(../images/css_images/inputadd.png) no-repeat;
}

.addinput input{
	margin:0px;
	padding:0px;
	float:left;
	width:210px;
	height:30px;
	background:none;
	border:none;
	font-size:15px;
	color:#747474;
}

.addinput select{
	margin:0px;
	padding:5px 0px 4px 0px;
	float:left;
	width:216px;
	height:30px;
	background:none;
	border:none;
	font-size:15px;
	color:#747474;
}

.addselect{
	margin:0px;
	padding:5px 10px 4px 10px;
	float:left;
	width:465px;
	height:30px;
	/*background:url(../images/css_images/slectbox.png) no-repeat;*/
}
.addselect select{
	margin:0px;
	padding:5px 0px 4px 0px;
	float:left;
	width:458px;
	height:30px;
	background:none;
	border:none;
	font-size:15px;
	color:#747474;
}

.add_container{
	margin:0px; 
	height:725px; 
	padding:0px; 
	width:507px;
}

.celladd{
	margin:5px 0px 5px 0px;
	padding:6px;
	width:488px;
	min-height:115px;
	border-radius:5px 5px 5px 5px;
	border:1px solid #ccc;
	float:left;
	
	background-image: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#e5e5e5));
	background-image: -webkit-linear-gradient(top, #fff, #e5e5e5);
	background-image: -moz-linear-gradient(top, #fff, #e5e5e5);
	background-image: -ms-linear-gradient(top, #fff, #e5e5e5);
	background-image: -o-linear-gradient(top, #fff, #e5e5e5);
	background-image: linear-gradient(to bottom, #fff, #e5e5e5);
	/*filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#fff, endColorstr=#e5e5e5);*/
}


.innercon_centeradd {
    float: left;
    margin: 10px 0 0;
    min-height: 770px;
    padding:0px;
    width: 501px;
}

h4{
	margin:0px;
	padding:0px;
	font-size:24px;
	color:#019101;
	font-family: 'Gotham-Book';
}


/*========================*/
.addleftcon{ 
	width:25%;
	min-height:150px;
	margin:10px 0px 0px 0px;
	padding:0px;
	float:left;
}

.disphoto_con{ padding:5px; width:103px; margin:0px 0px 5px 0px; border:1px solid #e0e0e0; box-shadow: 0px 0px 1px 0px #ccc;}

.addritcon{ 
	width:70%;
	min-height:150px;
	margin:10px 0px 0px 13px;
	padding:0px;
	float:left;
}

.addritcon dl{ 
	width:100%;
	margin:0px 0px 10px 0px;
	padding:0px;
	float:left;
}

.addritcon dl dt{ 
	width:47%;
	margin:0px;
	padding:0px;
	float:left;
	text-align:left;
}

.addritcon dl dd{ 
	width:49%;
	margin:0px 0px 0px 6px;
	padding:0px;
	float:left;
	text-align:left;
}

.txtcenter{ text-align:center; width:95%}

.adddisinput{
	margin:5px 0px 0px 0px;
	padding:5px 10px 4px 10px;
	float:left;
	width:180px;
	height:20px;
	background:url(../images/css_images/dispensayinput.png) no-repeat;
}

.adddisinput input{
	margin:0px;
	padding:0px;
	float:left;
	width:160px;
	height:20px;
	background:none;
	border:none;
	font-size:15px;
	color:#747474;
}

.dividerline{ margin:0px; padding:0px; float:left; height:20px; width:100%;}

.lftmar3{ margin-left:3px;}

.lftmar8{ margin-left:8px;}

.lftmar50{ margin-left:50px; margin-top:15px; margin-bottom:10px;}

.lftmar40{ margin-left:40px; margin-top:10px; margin-bottom:5px;}

.adddiscon{ width:498px; margin:0px; padding:10px 0px 0px 0px; float:left;}

.typeinput{
	background: url("../images/css_images/disinputmid.png") no-repeat scroll 0 0 transparent;
    border:none;
    color: #999999;
    float: left;
    height:27x;
    margin:0px;
    padding: 2px 10px 0 40px;
    width:119px;
}


.typeinput input{
	background: none repeat scroll 0 0 transparent;
    color: #999999;
    float: left;
    height: 27px;
    margin: 0;
    padding: 0 0 0 5px;
    width:114px;
	border:none;
}

.valueinput{
	background: url("../images/css_images/small_inputbox.png") no-repeat scroll 0 0 transparent;
    border:none;
    color: #999999;
    float: left;
    height:27x;
    margin:0px;
    padding: 2px 5px 0 5px;
    width:53px;
}


.valueinput input{
	background: none repeat scroll 0 0 transparent;
    color: #999999;
    float: left;
    height: 27px;
    margin: 0;
    padding: 0 0 0 5px;
    width:53px;
	border:none;
}

.row{
	width:98%;
	margin:5px 0px;
	padding:0px;
	float:left;
}

.rowdiv{
	margin:0px 9px 0px 0px;
	padding:0px;
	float:left;
}
