<div id="fb-root"></div>
        <script type="text/javascript">
            var button;
            var userInfo;
            
            window.fbAsyncInit = function() {
                FB.init({ appId: '454585391295135', //change the appId to your appId    old-454585391295135 new- 524702354305919
                    status: true, 
                    cookie: true,
                    xfbml: true,
                    oauth: true});

               showLoader_fb(true);
               
               function updateButton(response)
			   {
                    button       =   document.getElementById('fb-auth');
					//alert(button);
                    userInfo     =   document.getElementById('user-info');
                    
                    if (response.authResponse) 
					{
                        //user is already logged in and connected
                        FB.api('/me', function(info) {
                            login(response, info);
                        });
                        
                        button.onclick = function() {
                           // FB.logout(function(response) { logout(response);});
                        };
                    }
					else 
					{
                        //user is not connected to your app or logged out
                        button.innerHTML = 'Login';
                        button.onclick = function() {
                            showLoader_fb(true);
                            FB.login(function(response) {
                                if (response.authResponse) {
                                    FB.api('/me', function(info) {
                                        login(response, info);
                                    });	   
                                } else {
                                    //user cancelled login or did not grant authorization
                                    showLoader_fb(false);
                                }
                            }, {scope:'email,user_birthday,status_update,publish_stream,user_about_me'});  	
                        }
                    }
                }
                
                // run once with current status and whenever the status changes
                FB.getLoginStatus(updateButton);
                FB.Event.subscribe('auth.statusChange', updateButton);	
            };
            (function() {
                var e = document.createElement('script'); e.async = true;
                e.src = document.location.protocol 
                    + '//connect.facebook.net/en_US/all.js';
                document.getElementById('fb-root').appendChild(e);
            }());
            
            
            function login(response, info)
			{
                if (response.authResponse)
				{
                    var accessToken                                 =   response.authResponse.accessToken;
                    
                   /* userInfo.innerHTML                             = '<img src="https://graph.facebook.com/' + info.id + '/picture">' + info.name
                                                                     + "<br /> Your Access Token: " + accessToken;
                    button.innerHTML                               = 'Logout';*/
                    showLoader_fb(false);
                                    }
            }
        
            function logout(response){
                userInfo.innerHTML                             =   "";
                //document.getElementById('debug').innerHTML     =   "";
                //document.getElementById('other').style.display =   "none";
                showLoader_fb(false);
            }

            //stream publish method
            function streamPublish(name, description, hrefTitle, hrefLink, userPrompt){
                showLoader_fb(true);
                FB.ui(
                {
                    method: 'stream.publish',
                    message: '',
                    attachment: {
                        name: name,
                        caption: '',
                        description: (description),
                        href: hrefLink
                    },
                    action_links: [
                        { text: hrefTitle, href: hrefLink }
                    ],
                    user_prompt_message: userPrompt
                },
                function(response) {
                    showLoader_fb(false);
                });

            }
            


            function fqlQuery(){
                showLoader_fb(true);
                
                FB.api('/me', function(response) {
                    showLoader_fb(false);
                    
                    //http://developers.facebook.com/docs/reference/fql/user/
                    var query       =  FB.Data.query('select name, profile_url, sex, pic_small from user where uid={0}', response.id);
                    query.wait(function(rows) {
                       /*document.getElementById('debug').innerHTML =  
                         'FQL Information: '+  "<br />" + 
                         'Your name: '      +  rows[0].name                                                            + "<br />" +
                         'Your Sex: '       +  (rows[0].sex!= undefined ? rows[0].sex : "")                            + "<br />" +
                         'Your Profile: '   +  "<a href='" + rows[0].profile_url + "'>" + rows[0].profile_url + "</a>" + "<br />" +
                         '<img src="'       +  rows[0].pic_small + '" alt="" />' + "<br />";*/
                     });
                });
            }

            function setStatus(){}
            
            function showLoader_fb(status){
               
            }
            
        </script><!--style="width :32%;float:left;"-->
<div  class="custom_fb_twtbtn" style="width:170px;">
        <input type="checkbox" name="fblogin" id="fb-auth" value="facebookshare" />&nbsp;&nbsp;
        <img src="images/css_images/facebook_button.png" />
        <div id="user-info"></div>
        <div id="debug"></div>
       </div>