/*--------- strain detail pop up--------*/
#boxes #dialog3 {
  width:506px; 
  height:483px;
  padding: 10px 20px 20px 20px;
  border:1px solid #fff;
  background:url(../images/css_images/popup_bg.png) repeat-x #fff;
}


.celladd_popup{
	margin:5px 0px 5px 0px;
	padding:6px;
	width:488px;
	min-height:88px;
	float:left;
	background:url(../images/css_images/popup_bg.png) repeat-x #fff;
}

.add_pic_popup{
	width:132px;
	height:132px;
	float:left;
	margin:5px 10px;
	padding:4px;
	background:#fff;
	border: 1px solid #FFFFFF;
    box-shadow: 0 2px 10px 2px #CCCCCC;
}

.add_pic_inner{
	width:132px;
	height:132px;
	background:#096;
	float:left;
}

.add_pic_inner img{
	width:132px;
	height:132px;
	background:#096;
	float:left;
}
#straindetailscroll{
	float:left;
	height:483px;
}		

.add-con{
	float:left;
	margin:5px;
	padding:0px;
}

.add-con dl{
	float:left;
	margin:5px 0px 0px;
	padding:0px 0px 5px 0px;
	width:490px;
}

.add-con dl dt{
	float:left;
	margin:0px;
	padding:0px 0px 0px 0px;
	width:245px;
	text-align:left;
}

.add-con dl dd{
	float:left;
	margin:0px;
	padding:0px;
	width:245px;
}
.add_container{
	margin:0px; 
	height:725px; 
	padding:0px; 
	width:507px;
}


