@font-face {font-family: 'DomesticMannersRegular'; src: url('../fonts/domestic_manners.eot'); src: url('../fonts/domestic_manners.eot');
src: url('../fonts/domestic_manners.eot?#iefix') format('embedded-opentype'), url('../fonts/domestic_manners.woff') format('woff'), url('../fonts/domestic_manners.ttf') format('truetype'), url('../fonts/domestic_manners.svg#DomesticMannersRegular') format('svg');}

@font-face {
font-family: 'Gotham-Book';
src: url('../fonts/Gotham-Book.otf');
src: url('../fonts/Gotham-Book.eot?#iefix') format('embedded-opentype'), url('../fonts/Gotham-Book.woff') format('woff'), url('../fonts/Gotham-Book.ttf') format('truetype'), url('../fonts/Gotham-Book.svg#OpenSansSemibold') format('svg');}
 
@font-face {
font-family: 'myriadpro-regular';
src: url('../fonts/myriadpro-regular.otf');
src: url('../fonts/myriadpro-regular.eot?#iefix') format('embedded-opentype'), url('../fonts/myriadpro-regular.woff') format('woff'), url('../fonts/myriadpro-regular.ttf') format('truetype'), url('../fonts/myriadpro-regular.svg#OpenSansSemibold') format('svg');}

.nav{ width:69%; margin:0px 0px 0px 0px;/*margin:76px 0px 0px 0px;*/ padding:0px; float:left;}

.nav ul{ float:left; list-style:none; width:100%;}

.nav ul li{ float:left; list-style:none;}

.nav ul li a{  height:22px; float:left; list-style:none; border-radius:4px; margin:0px 4px 0px 0px; padding:10px 10px 10px; font-family: 'Gotham-Book'; color:#2c4e01; font-size:20px; font-weight:normal; text-align:center; text-decoration:none; text-shadow: 1px 1px 1px #fff9d4; border:1px solid #fff6b6;
	
	background-image: -webkit-gradient(linear, left top, left bottom, from(#fff3a4), to(#e6cb16));
	background-image: -webkit-linear-gradient(top, #fff3a4, #e6cb16);
	background-image: -moz-linear-gradient(top, #fff3a4, #e6cb16);
	background-image: -ms-linear-gradient(top, #fff3a4, #e6cb16);
	background-image: -o-linear-gradient(top, #fff3a4, #e6cb16);
	background-image: linear-gradient(to bottom, #fff3a4, #e6cb16);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#fff3a4, endColorstr=#e6cb16);}
	
.nav ul li a:hover{ color:#000;  text-shadow: 1px 1px 1px #fff; border:1px solid #fff;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#e2e2e2));
	background-image: -webkit-linear-gradient(top, #ffffff, #e2e2e2);
	background-image: -moz-linear-gradient(top, #ffffff, #e2e2e2);
	background-image: -ms-linear-gradient(top, #ffffff, #e2e2e2);
	background-image: -o-linear-gradient(top, #ffffff, #e2e2e2);
	background-image: linear-gradient(to bottom, #ffffff, #e2e2e2);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#ffffff, endColorstr=#e2e2e2);}

/*==================================================new classes============================================================*/
.new_home_conlft{ margin:0px 2%; padding:5px 20px; float:left; width:57%; min-height:500px; background:#fff;}

#new_main_con{background:#e1e1e1; width:100%; margin:0 0 45px; padding:3% 0px 10px; float:left;}

.home_headconlft{margin:40px 0px 0px 0px; padding:0px; float:left; width:48%}

.home_heading{margin:0px; padding:0px; float:left; font-family:'DomesticMannersRegular'; font-size:36px; color:#488707;}

.home_txtcon{ margin:0px; padding:0px; float:left; font-size:18px;}

/*.home_headconrit{margin: 6px 0 0 18px;padding:0px; float:left; width:42%; text-align:right;height:349px;}*/
.home_headconrit {
    background: url("../images/new_home/phone.png") no-repeat scroll -3px 0 rgba(0, 0, 0, 0);
    float: left;
    height: 349px;
    margin: 6px 0 0 18px;
    padding: 0;
    text-align: right;
    width: 48%;}
/*a.new_greenlink{ margin:10px 0px 0px; padding:0px; float:left; font-family:'myriadpro-regular'; color:#3c7602; text-decoration:none; font-weight:bold; font-size:18px;}*/

a.new_greenlink {
    color: #3C7602;
    float: left;
    font-family: 'DomesticMannersRegular';
    font-size: 24px;
    font-weight: bold;
    margin: 1px 63px 0;
    padding: 0;
    text-decoration: none;
}

a:hover.new_greenlink{ text-decoration:underline; color:#284e02; }

.newinput-append, .newinput-prepend {display: inline-block; font-size: 0; margin-bottom: 10px; vertical-align: middle; white-space: nowrap; float:left; width:100%;}

.new_searchbox{ margin:9px 0px 0px 0px; padding:0px; float:left; height:35px; border:1px solid #fff; width:81%;

background-image: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#e5e5e5));
background-image: -webkit-linear-gradient(top, #fff, #e5e5e5);
background-image: -moz-linear-gradient(top, #fff, #e5e5e5);
background-image: -ms-linear-gradient(top, #fff, #e5e5e5);
background-image: -o-linear-gradient(top, #fff, #e5e5e5);
background-image: linear-gradient(to bottom, #ffffff, #e5e5e5);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#ffffff, endColorstr=#e5e5e5);
}

.new_searchbox img{ margin:0px 0px 0px 2%; padding:0px; float:left; height:33px;}

.new_searchbox input{ margin:2px 1% 0px; padding:0px; float:left; width:84%; height:30px; border:none; background:url(../images/new_web/blank.png) repeat-x; font-family:Arial, Helvetica, sans-serif; font-size:20px;}

.new_search_btn{ width:60px; height:30px; margin:9px 0px 0px; padding:5px 6px 0px 8px; float:left; font-family:Arial, Helvetica, sans-serif; color:#333; border:1px solid #ececec; font-size:18px; text-decoration:none;

background-image: -webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#b7b7b7));
background-image: -webkit-linear-gradient(top, #ffffff, #b7b7b7);
background-image: -moz-linear-gradient(top, #ffffff, #b7b7b7);
background-image: -ms-linear-gradient(top, #ffffff, #b7b7b7);
background-image: -o-linear-gradient(top, #ffffff, #b7b7b7);
background-image: linear-gradient(to bottom, #ffffff, #b7b7b7);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#ffffff, endColorstr=#b7b7b7);}

.new_search_btn:hover{border:1px solid #b0b0b0; text-decoration:none; font-size:18px; }
.wid70{ margin:0px; padding:0px; float:left; width:71%;}

.search_heading{ margin:10px 0px 0px; padding:0px; float:left; color:#387100; font-size:24px; font-family: 'Gotham-Book'; font-weight:bold;}


.new_btmad img {
    margin: 15px 0 0;
    max-height: 90px;
    padding: 32px 0 10px;
    width: 100%;
}

#new_example-two .list-wrap { background:#fff; padding: 10px; margin: 0 0 15px 0; font-size:12px; float:left;}

#new_example-two ul { list-style: none; }
#new_example-two ul li a { /*display: block; border-bottom: 1px solid #666; padding: 4px; color: #666; font-size:12px;*/ 
height:22px; float:left; list-style:none; border-radius:4px 4px 0px 0px; margin:0px; padding:0px 10px 10px; font-family: 'DomesticMannersRegular'; color:#2c4e01; font-size:20px; font-weight:normal; text-align:center; text-decoration:none; text-shadow: 1px 1px 1px #fff9d4; /*border:1px solid #fff6b6;*/
	
	background-image: -webkit-gradient(linear, left top, left bottom, from(#fff3a4), to(#e6cb16));
	background-image: -webkit-linear-gradient(top, #fff3a4, #e6cb16);
	background-image: -moz-linear-gradient(top, #fff3a4, #e6cb16);
	background-image: -ms-linear-gradient(top, #fff3a4, #e6cb16);
	background-image: -o-linear-gradient(top, #fff3a4, #e6cb16);
	background-image: linear-gradient(to bottom, #fff3a4, #e6cb16);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#fff3a4, endColorstr=#e6cb16);

}
#new_example-two ul li a:hover {/* background: #333; color: white;*/ 
color:#000;  text-shadow: 1px 1px 1px #fff; /*border:1px solid #fff;*/
	background-image: -webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#e2e2e2));
	background-image: -webkit-linear-gradient(top, #ffffff, #e2e2e2);
	background-image: -moz-linear-gradient(top, #ffffff, #e2e2e2);
	background-image: -ms-linear-gradient(top, #ffffff, #e2e2e2);
	background-image: -o-linear-gradient(top, #ffffff, #e2e2e2);
	background-image: linear-gradient(to bottom, #ffffff, #e2e2e2);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#ffffff, endColorstr=#e2e2e2);
}
/*#new_example-two ul li:last-child a { border: none;}*/
#new_example-two ul li a.current
{
	color:#000;  text-shadow: 1px 1px 1px #fff; /*border:1px solid #fff;*/
	background-image: -webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#e2e2e2));
	background-image: -webkit-linear-gradient(top, #ffffff, #e2e2e2);
	background-image: -moz-linear-gradient(top, #ffffff, #e2e2e2);
	background-image: -ms-linear-gradient(top, #ffffff, #e2e2e2);
	background-image: -o-linear-gradient(top, #ffffff, #e2e2e2);
	background-image: linear-gradient(to bottom, #ffffff, #e2e2e2);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#ffffff, endColorstr=#e2e2e2);
}
#new_example-two .new_nav {overflow: hidden; }
#new_example-two .new_nav li {float: left; margin: 0 5px 0 0; }
/*#new_example-two .new_nav li.last { margin-right: 0; }*/
#new_example-two .nav li a {display: block; padding: 5px; /*background: #666; */color: white; font-size: 10px; text-align: center; border: 0; }

#new_example-two li a.current,#example-two li a.current:hover {/* background-color: #eee !important;*/ color: black; }
#new_example-two .new_nav li a:hover, #example-two .new_nav li a:focus {/* background: #999;*/}


.new_inpoutboxleft{width:5%; height:20px; margin:0px 0px 10px 0px; padding:2% 3%; float:left; background:#fff; border-left:1px solid #cdcdcd; border-top:1px solid #cdcdcd; border-bottom:1px solid #cdcdcd; border-rigth:1px solid #fff;}

.new_inpoutbox{width:86%; height:20px; margin:0px 0px 10px 0px; padding:2% 1%; float:left; background:#fff; border:1px solid #cdcdcd;}

.new_inpoutbox input{width:100%; margin:0px; padding:0px; float:left; background:#fff; color:#000; border:none; font-size:16px; font-family:'Gotham-Book';}

.newpass_inpoutbox{width:55%; height:20px; margin:0px 0px 10px 0px; padding:2% 1%; float:left; background:#fff; border:1px solid #cdcdcd;}

.newpass_inpoutbox input{width:100%; margin:0px; padding:0px; float:left; background:#fff; color:#000; border:none; font-size:16px; font-family:'Gotham-Book';}

.new_login_con{width:94%; margin:0px 3%; padding:0px 0px; background:#fff; min-height:125px; float:left;} 

.new_btn1{width:30%; margin:5px 0px 0px 0px; padding:0px 0px 0px 1%; text-align:center; float:left;}

/*.new_btn {width: 50%; margin: 5px 0px 0px; padding: 0px 0%; text-align: center;float: left;}*/
.new_btn {
    width: 48%;
    margin: 5px 0px 0px;
    padding: 0px 1%;
    text-align: center;
    float: left;
}
.new_login_btmcon{width:92%; margin:0px; padding:7px 4%; background:#fff; min-height:125px; float:left;}

.login_heading{margin:0px; padding:0px; float:left; color:#4d8606; font-family:'DomesticMannersRegular'; font-size:24px;}

.new_checkcon{margin:0px; padding:0px; float:left; width:100%;}

.new_check_block{margin:0px 0px 10px 0px; padding:0px; float:left; width:100%; color:#8e8e8e;font-size: 13px;}

.terms_box{margin:10px 15px 0px 0px; padding:0px; float:left;}

/*.bottom_link{margin:0px auto; padding:0px; width:90%;}*/
.bottom_link {
    padding: 0px;
    width: 1000px;
    margin: 0px 0px 0px 24px;
    float: left;
}


.bottom_linkblock {width:20%; float:left; margin:20px 0px 20px 0px; padding:0px;}

.bottom_linkblock .listheading{margin:0px; padding:0px; float:left; font-size:24px; color:#387100; text-shadow: 2px 1px 0px #FFFFFF; font-weight:bold;}

.bottom_linkblock ul li{margin:8px 0px 0px; padding:0px; float:left; list-style:none; width:100%;}

.bottom_linkblock ul li a{margin:0px; padding:0px; float:left; list-style:none; color:#575757; font-size:18px; text-decoration:underline;}

.bottom_linkblock ul li a{color:#000;}
.list-wrap {
    
    width: 94%;
}

/*==================================================lounge_css============================================================*/
.refresh_button { position: absolute;
float: right;
right: 79px;
top: 10px;}



.refresh_button img {
    height: 37px;
    width: 49px;
} 
.searchbox_new {margin: 9px 0px 0px 0px;padding: 0px;float: left;height: 35px;border: 1px solid #fff;width: 624px;
background-image: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#e5e5e5));
background-image: -webkit-linear-gradient(top, #fff, #e5e5e5);
background-image: -moz-linear-gradient(top, #fff, #e5e5e5);
background-image: -ms-linear-gradient(top, #fff, #e5e5e5);
background-image: -o-linear-gradient(top, #fff, #e5e5e5);
background-image: linear-gradient(to bottom, #ffffff, #e5e5e5);
filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#ffffff, endColorstr=#e5e5e5);
}

.searchbox_new img{ margin:0px 0px 0px 2%; padding:0px; float:left;  height:33px;}

.searchbox_new input{ margin:2px 1% 0px; padding:0px; float:left; width:90%; height:30px; border:none; background:url(../images/new_web/blank.png) repeat-x; font-family:Arial, Helvetica, sans-serif; font-size:20px;}

.greenbar_bg_new{ width:98%; height:56px; margin:0px; padding:0px 1% 0px 1%; float:left; background:url(../images/new_web/green_row.png) repeat left top; text-align:center;}

.checkcon{margin:13px 0px 0px; padding:0px; text-align:center;}

.gray_bg_cellnew{ width:98.2%; height:31px; margin:0px; padding:10px 1%; float:left; text-align:center;
background-image: -webkit-gradient(linear, left top, left bottom, from(#f1f1f1), to(#e4e4e4));
background-image: -webkit-linear-gradient(top, #f1f1f1, #e4e4e4);
background-image: -moz-linear-gradient(top, #f1f1f1, #e4e4e4);
background-image: -ms-linear-gradient(top, #f1f1f1, #e4e4e4);
background-image: -o-linear-gradient(top, #f1f1f1, #e4e4e4);
background-image: linear-gradient(to bottom, #f1f1f1, #e4e4e4);
filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#f1f1f1, endColorstr=#e4e4e4);
}

.loungeimg_new img{/*margin: 10px 0px;*/ padding:0px; float:left; width:100%;height:100%;}

.lounge_profile img{  border: 1px solid #999999;
    float: left;
    height: 42px;
    margin: -8px 7px 0 0;
    padding: 1px;
    width: 42px;}

.status_cell{ width:98.2%; height:19px;/* margin-top:10px;*/ padding:10px 1%; float:left; border-top:1px solid #999;
background-image: -webkit-gradient(linear, left top, left bottom, from(#f1f1f1), to(#e4e4e4));
background-image: -webkit-linear-gradient(top, #f1f1f1, #e4e4e4);
background-image: -moz-linear-gradient(top, #f1f1f1, #e4e4e4);
background-image: -ms-linear-gradient(top, #f1f1f1, #e4e4e4);
background-image: -o-linear-gradient(top, #f1f1f1, #e4e4e4);
background-image: linear-gradient(to bottom, #f1f1f1, #e4e4e4);
filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#f1f1f1, endColorstr=#e4e4e4);
}

.status_con{margin:0px 15px 0px 0px; padding:0px; float:right; font-weight:bold;}

.new_marlft8{    margin: 0 5px;}

.msg_cell_bud{ /*margin:0px 0px 5px 0px; padding:5px 2%; float:left; border-bottom:1px solid #c8c8c8; width:96%;*/ 
    float: left;
    margin: 0px 0px 5px;
    padding: 10px 2%;
    width: 96%;
	 word-wrap: break-word;}





.msg_cell{ /*margin:0px 0px 5px 0px; padding:5px 2%; float:left; border-bottom:1px solid #c8c8c8; width:96%;*/ border-bottom: 1px solid #C8C8C8;
    float: left;
    margin: 0px 0px 5px;
    padding: 15px 2%;
    width: 96%;}
.msg_cell_inner{ /*margin:0px 0px 5px 0px; padding:5px 2%; float:left; border-bottom:1px solid #c8c8c8; width:96%;*/ border-bottom: 1px solid #C8C8C8;
    float: left;
    margin: -1px -17px 5px;
    padding: 5px 2%;
    width: 100%;}
	
.msg_cell a
{
	font-size:14px;color: #009933; text-decoration:none; 
}
.msg_cell a:hover{ font-size:14px; border:0px; outline:none;}
.user_comment a
{
	font-size:14px;color: #009933; text-decoration:none; 
}	
.user_pic img{ margin:0px 10px 0px 0px; padding:1px; float:left; width:25px; height:25px; border:1px solid #999;}

.username_new{font-family:'Gotham-Book'; font-size:14px; font-weight:bold; color:#000; margin:7px 0px 0px; float:left;}

.user_comment{ margin:5px 0px 0; padding:0px; float:left; font-family: 'Gotham-Book'; font-size:14px; color:#666; width:100%;}

/*.lounge_comment textarea{ margin:2px 1% 8px; padding:5px; float:left; border:1px solid #c8c8c8; height:60px; width:96%; resize:none; font-family:'Gotham-Book'; font-size:14px;}*/
.lounge_comment textarea {
    border: 1px solid #C8C8C8;
    float: left;
    font-family: 'Gotham-Book';
    font-size: 14px;
    height: 19px;
    margin: 2px 1% 11px;
    padding: 5px;
    resize: none;
    width: 90%;
}

.loung_straindetail1{font-size: 18px;border: 0px;outline: none;color: #525252;font-family: 'myriadpro-regular';font-size: 18px;line-height: 36px;text-decoration:none;}

/*.loung_straindetail1:hover {font-size: 18px;border: 0px;outline: none;color: #525252;font-family: 'myriadpro-regular';font-size: 18px;
line-height: 36px;}*/

.cell_right_new{ margin:0px; padding:0px; float:right; font-size:16px; font-family: 'Gotham-Book'; color:#5f5f5f; width:22%; position:relative;}

.arrownew img{margin:55px 15px 0px; padding:0px; float:right; height:28px; vertical-align:middle;}


/*==================================================new classes============================================================*/

@media screen and (max-width : 980px) {	
.nav {position:absolute; float:right; z-index:1; width:22%; right:18px; top:64px;}
	
.nav ul {padding: 0px ; position: absolute;top: 0;left: 0; background: #fff /*url(../images/insta_icon_btn.png) no-repeat 0px 0px*/; border-radius: 5px; z-index:2;}

.nav li {display: none; /* hide all <li> items */margin: 0; }

.nav ul li a { padding:4px 0px; font-size:16px;}

.nav ul li a:hover {font-size:16px;}

.nav .current {display: block; width:100%;/* show only current <li> item */}

.nav a {display:block; padding:0px 5px 5px 0px; text-align: left; width:100%;}

.nav .current a { width:100%; }

	/* on nav hover */
.nav ul:hover { background-image: none; width:100%;}

.nav ul:hover li {display: block;margin: 0 0 5px; width:100%;}

.nav ul:hover .current {/*background: url(images/icon-check.png) no-repeat 10px 7px;*/}
}