.cellleft_contxt{
	margin:5px 0px 0px 2px;
	padding:0px;
	float:left;
	width:375px;
	color:#414141;
	font-family: 'Gotham-Book';
    font-size: 16px;
}

.grn_txt{
	font-family:Arial, Helvetica, sans-serif;
	font-size:14px;
	color:#019101;
	text-align:right;
	display:block;
	margin-top:20px;
}

.btn_area{
	margin:5px 5px 0px 0px;
	padding:0px;
	float:right;
	width:336px;
	position:relative;
}

.no_display{
	margin:0px;
	padding: 4px 0 4px;
	float:left;
	background:url(../images/bud_thought/no_circle.png) no-repeat;
	position:absolute;
	color:#F00;
	width:23px;
	font-size:11px;
	text-align:center;
	top: 3px;
}

a.like_btn{
	margin-top:4px;
	padding:0px;
	background:url(../images/bud_thought/like_unsel.png) no-repeat;
	width:48px;
	height:30px;
	font-size:0px;
	float:left;
}

a:hover.like_btn{
	margin:0px;
	padding:0px;
	background:url(../images/bud_thought/like_sel.png) no-repeat;;
}

a.comment_btn{
	margin:4px 0px 0px 5px;
	padding:0px;
	background:url(../images/bud_thought/comment_unsel.png) no-repeat;
	width:90px;
	height:30px;
	font-size:0px;
	float:left;
}

a:hover.comment_btn{
	background:url(../images/bud_thought/comment_sel.png) no-repeat;;
}

a.comment_active{
	background:url(../images/bud_thought/comment_displayl.png) no-repeat;;
}

a.addcomment_btn{
	margin:4px 0px 0px 5px;
	padding:0px;
	background:url(../images/bud_thought/add_commentunsel.png) no-repeat;
	width:123px;
	height:30px;
	font-size:0px;
	float:left;
}

a:hover.addcomment_btn{
	background:url(../images/bud_thought/add_commentsel.png) no-repeat;
}

.comment_divider{
	margin:0px;
	padding:0px;
	float:left;
	width:475px;
}

.comment_display{
	width:440px;
	margin:10px 0px 5px 15px;
	padding:0px;
	float:left;
	min-height:35px;
}

.comment_pic{
	width:50px;
	height:45px;
	float:left;
	margin:0px;
	padding:4px;
	background:#fff;
	box-shadow: 0 1px 3px 1px #CCCCCC;
	border:1px solid #ccc;
}

.cellleft_area{
	margin:5px 0px 0px 8px;
	padding:0px;
	float:left;
	width:372px;
	color:#414141;
	font-family: 'Gotham-Book';
    font-size: 16px;
}


.budthought{
	margin:8px 20px 0px 0px;
	padding:0px;
	float:right;
	width:59px;
	height:41px;
}

.budthought_popup{
	margin:0px;
	padding:0px 20px 5px 20px;
	float:right;
}

.bud_textarea{
	margin:0px;
	padding:0px;
	float:left;
	width:466px;
	height:135px;
	background:url(../images/bud_thought/bud_commentarea.png) no-repeat;
}

.bud_textarea textarea {
	margin:0px;
	padding:5px;
	float:left;
	width:456px;
	height:120px;
	background:none;
	resize:none;
	border:none;
	color:#8d8e8b;
	font-family: 'Gotham-Book';
    font-size: 16px;
}

.character_limit{
	margin:0px;
	padding:0px;
	float:left;
	color:#8d8e8b;
	font-family: 'Gotham-Book';
    font-size: 16px;
	width:99%;
	text-align:right;
	margin-top:5px;
}

.add_photobtn{
	margin:10px;
	padding:0px;
	float:left;
	width:250px;
}

.add_postbtn{
	float:right;
	margin:10px;
	padding:0px;
	margin-top:30px;
}

.cmnt_textarea{
	margin:0px;
	padding:0px;
	float:left;
	width:466px;
	height:135px;
	background:url(../images/bud_thought/bud_commentarea.png) no-repeat;
}


.cmnt_textarea textarea
{
	margin:0px;
	padding:5px;
	float:left;
	width:456px;
	height:80px;
	background:none;
	resize:none;
	border:none;
	color:#8d8e8b;
	font-family: 'Gotham-Book';
    font-size: 13px;
}


/* 14th may 
*/
.add_photo_cmnt_btn{
	float:left;
/*	margin-left:10px;
	margin-top:-30px;*/
	margin:10px;
}


.starin_like{

	margin:0px;
	padding: 4px 8px;
	float:left;
	background:url(../images/bud_thought/no_circle.png) no-repeat;
	position:absolute;
	color:#F00;
	width:23px;
	font-size:11px;
	text-align:center;
	/*top: 80px;*/
	bottom:15px;

}
a.like_btn_starin{
	margin-top:4px;
	padding:0px;
	background:url(../images/bud_thought/like_unsel.png) no-repeat;
	width:48px;
	height:30px;
	font-size:0px;
	float:left;
}

a:hover.like_btn_starin{
	margin:0px;
	padding:0px;
	background:url(../images/bud_thought/like_sel.png) no-repeat;;
}





/*9th may
*/
.cell_center
{
	/*border:1px solid red;*/
	width:378px;
	float:left;
	min-height:80px;
	font-family: 'Gotham-Book';
    font-size: 14px;
}
.name_date_time{
	min-height:20px;
	text-align:right;
	color:#093;
}
.like_comment{
	min-height:30px;
	/*border:1px solid brown;*/
}
#boxes #dialog6 {
    width:450px; 
  	min-height:200px;
  	padding:0px;
  	border:1px solid #fff;
  	background:url(../images/css_images/popup_bg.png) repeat-x #fff;
}



/*//13th may*/
.cell_cmnt{
	margin:5px 0px 5px 0px;
	padding:8px 6px 8px 6px;
	width:465px;
	min-height:70px;
	border-radius:5px 5px 5px 5px;
	border-top:1px solid #ccc;
	float:left;
	position:relative;
}


.window{
background: url("images/css_images/popup_bg.png") repeat-x scroll 0 0 #FFFFFF;
    border: 1px solid #FFFFFF;
    min-height: 340px;
    padding: 0;
    width: 505px;

}
/*--------17 may k changes -----*/
#boxes #bud_thought_popup{
	width:510px;
}	
#boxes #thought_img img{
	height:80px;
	float:left;
	width:80px;
}
#thought_img{
	height:80px;
	float:left;
	width:80px;
}
#addBudThoughtImg{
	margin-right:10px;
}
#boxes #bud_thought_popup{
	min-height:315px;
}		
/*20th may*/
.mybdfolio{
}
.comment_textarea{
	height:85px;
	float:right;
	width:83%;
	margin-top:-85px;
}

.cmnt_img_preview{
	height:80px;
	float-left;width:15%;
}


#boxes #comment_popup{
	width:510px;
}	
#boxes #comment_img img{
	height:80px;
	float:left;
	width:80px;
}
#comment_img{
	height:80px;
	float:left;
	width:80px;
}
#addCommentImg{
	margin-right:10px;
}
#boxes #comment_popup{
	min-height:315px;
}	

/*
	21st may
	
*/
.strain_like{
	margin:0px;
	 padding: 1px 3px 8px 8px;
	float:left;
	background:url(../images/bud_thought/no_circle.png) no-repeat;
	position:absolute;
	color:#F00;
	width:23px;
	font-size:11px;
	text-align:center;
	bottom: 4px;
}
a.strain_btn{
	margin-top:4px;
	padding:0px;
	background:url(../images/bud_thought/like_unsel.png) no-repeat;
	width:48px;
	height:30px;
	font-size:0px;
	float:left;
}

a:hover.strain_btn{
	margin:0px;
	padding:0px;
	background:url(../images/bud_thought/like_sel.png) no-repeat;;
}
.menu_table_row
{
	width:100%;
	height:25px;
	border:1px solid green;
}
.small_col
{
	float:left;
	width:15%;
	height:33px;
}
#menu_table
{
	width:498px;
}
.dispensary_col
{
	float:left;
	width:37%;
	height:33px;
}
.tabheader
{
	border:1px solid #d8d8d8;
	font-family: 'Gotham-Book';
	font-size:18px;
	color:#019101;
	padding-top:10px;
	background:url(../images/css_images/popup_bg.png) repeat-x #fff;
	
}
.menu_table_content_row
{
	width:100%;
	min-height:105px;
	border-bottom: 1px solid #CCC;
	/*border:1px solid red;*/
}
.content_col
{
	border-right: 1px solid #CCC;
	color: #707070;
    font-size: 15px;
    padding: 8px 0;
	float:left;
	width:15%;
	min-height:88px;
	text-align:center;
}
.dis_content_col
{
	border-right: 1px solid #CCC;
	color: #707070;
    font-size: 15px;
    padding: 8px 0;
	float:left;
	width:35%;
	min-height:88px;
	text-align:center;
}
.last_content_col
{
	color: #707070;
    font-size: 15px;
    padding: 8px 0;
	float:left;
	width:15%;
	height:100px;
	text-align:center;
}
.cellleft_area_empty_img
{
	width:450px;
	margin:2px 0px 0px;
	padding:0px;
	float:left;
	color:#414141;
	font-family: 'Gotham-Book';
    font-size: 16px;
}
.cellleft_contxt_empty_img{
	margin:5px 0px 0px 2px;
	padding:0px;
	float:left;
	width:463px;
	color:#414141;
	font-family: 'Gotham-Book';
    font-size: 16px;
}
.grn_txt_cmmnt
{
	font-family:Arial, Helvetica, sans-serif;
	font-size:14px;
	color:#019101;
	text-align:right;
	display:block;
}
.grn_txt_showcmnt
{
	margin-right:-10px;
	font-family:Arial, Helvetica, sans-serif;
	font-size:14px;
	color:#019101;
	text-align:right;
	display:block;
	margin-top:15px;
}
.lounge .cell{
	margin:3px;
	padding:3px 8px;
	width:478px;
	min-height:80px;
	border-radius:5px 5px 5px 5px;
	border:1px solid #ccc;
	float:left;
	position:relative;
	background:url(../images/css_images/popup_bg.png) repeat-x #fff;
	/*filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#fff, endColorstr=#e5e5e5);*/
}*/