addstraincon{ width:95%; margin:0px; padding:0px; float:left; }

.addstraincon dl{ width:100%; margin:0px 0px 10px 0px; padding:0px; float:left; color:#757575; font-size:16px;}

.addstraincon dl dt{ width:45%; margin:0px; padding:0px; float:left; text-align:left; }

.addstraincon dl dd{ width:45%; margin:0px 0px 0px 2%; padding:0px; float:left; text-align:left;}

.addstrain_photocon{ float:left; margin:1% 0px 0px; padding:0px; width:100%;}

.addstrain img {width:30%; background:#fff; float:left;  min-height:96px; padding:5px; margin:0px 2% 2% 0px;  -moz-box-shadow: 0 0 5px #888; -webkit-box-shadow: 0 0 5px#888; box-shadow: 0 0 5px #888;}

.addstrain_last img {width:30%; background:#fff; float:left;  min-height:96px; padding:5px; margin:0px 0px 2% 0px;  -moz-box-shadow: 0 0 5px #888; -webkit-box-shadow: 0 0 5px#888; box-shadow: 0 0 5px #888;}

.mar_rit2{ margin-right:2%; float:right;}

.martop_btm2{ margin-top:2%; margin-bottom:2%; float:left;}

.adddisinput select{margin:0px; padding:0px 0px 1% 0px; float:left; width:100%; background:none; border:none; font-size:15px; color:#747474;}

.headtext{ font-family: 'Gotham-Book'; font-size:24px; color:#019101;}

.adddisinput_big{margin:0px; padding:1%; float:left; width:80%; height:20px; border:1px solid #ececec;
 
background-image: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#e5e5e5));
background-image: -webkit-linear-gradient(top, #fff, #e5e5e5);
background-image: -moz-linear-gradient(top, #fff, #e5e5e5);
background-image: -ms-linear-gradient(top, #fff, #e5e5e5);
background-image: -o-linear-gradient(top, #fff, #e5e5e5);
background-image: linear-gradient(to bottom, #fff, #e5e5e5);
} 

.adddisinput_big select{margin:0px; padding:0px 0px 1% 0px; float:left; width:100%; background:none; border:none; font-size:15px; color:#747474;}