@font-face {font-family: 'DomesticMannersRegular'; src: url('../fonts/domestic_manners.eot'); src: url('../fonts/domestic_manners.eot');
src: url('../fonts/domestic_manners.eot?#iefix') format('embedded-opentype'), url('../fonts/domestic_manners.woff') format('woff'), url('../fonts/domestic_manners.ttf') format('truetype'), url('../fonts/domestic_manners.svg#DomesticMannersRegular') format('svg');}

@font-face {
font-family: 'Gotham-Book';
src: url('../fonts/Gotham-Book.otf');
src: url('../fonts/Gotham-Book.eot?#iefix') format('embedded-opentype'), url('../fonts/Gotham-Book.woff') format('woff'), url('../fonts/Gotham-Book.ttf') format('truetype'), url('../fonts/Gotham-Book.svg#OpenSansSemibold') format('svg');}
 
@font-face {
font-family: 'myriadpro-regular';
src: url('../fonts/myriadpro-regular.otf');
src: url('../fonts/myriadpro-regular.eot?#iefix') format('embedded-opentype'), url('../fonts/myriadpro-regular.woff') format('woff'), url('../fonts/myriadpro-regular.ttf') format('truetype'), url('../fonts/myriadpro-regular.svg#OpenSansSemibold') format('svg');}

html, body, div, span, applet, object, iframe,h1, h2, h3, h4, h5, h6, p, blockquote, pre,a, abbr, acronym, address, big, cite, code,del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,b, u, i, center,dl, dt, dd, ol, ul, li,fieldset, form, label, legend,table, caption, tbody, tfoot, thead, tr, th, td,article, aside, canvas, details, embed,figure, figcaption, footer, header, hgroup,menu, nav, output, ruby, section, summary,time, mark, audio, video {
  margin:0; padding:0; border:0; font: inherit; font-size: 100%;}

html{background:url(../images/background.png) repeat center center fixed; -webkit-background-size: cover; -moz-background-size: cover; -o-background-size: cover; background-size: cover;}

body{ width:100%; font-family:Arial, Helvetica, sans-serif;}

h1{ margin:0px; padding:0px; font-family: 'DomesticMannersRegular'; font-size:26px; font-weight:bold; color:#2c4e01; text-shadow: 2px 2px 2px #fff5b3; }

h2{ margin:0px; padding:0px; font-family: 'DomesticMannersRegular'; font-size:30px; font-weight:bold; color:#2b6a03; text-shadow: 2px 2px 2px #fff; /*width:92%; float:left;*/}

h3{ margin:0px; padding:0px; font-family: 'DomesticMannersRegular'; font-size:30px; font-weight:bold; color:#2b6a03; text-shadow: 2px 2px 2px #fff; width:92%; float:left;}

h4{ margin:0px; padding:7px 15px; font-family: 'Gotham-Book'; font-size:24px; font-weight:bold; color:#000; width:50%; float:left; text-align:left;}

h5{ margin:0px; padding:0px; font-family: 'Gotham-Book'; font-size:22px; font-weight:bold; color:#2c4e01; text-shadow: 2px 2px 2px #fff5b3; }

a{ font-size:0px; outline:none;}

a:hover{ font-size:0px; outline:none;}

a:active{ font-size:0px; outline:none;}

.fltrit{ float:right;}

img.scale-with-grid {  max-width: 100%; height:auto;}

.clear{ clear:both; font-size:0px;}

header{ width:96%; height:128px; float:left; margin:0px; padding:0px 2% 0px 2%; background:url(../images/header.jpg) repeat-x left top;}

.logo{ width:23%; height:120px; margin:0px 1% 0px 2%; padding:1.5% 2% 0px; float:left; border:1px solid #d2d7cf; position:relative;
-webkit-box-shadow: 0 8px 6px -6px black; -moz-box-shadow: 0 8px 6px -6px black; box-shadow: 0 8px 6px -6px black;

background-image: -webkit-gradient(linear, left top, left bottom, from(#ffe957), to(#cbb20b));
	background-image: -webkit-linear-gradient(top, #ffe957, #cbb20b);
	background-image: -moz-linear-gradient(top, #ffe957, #cbb20b);
	background-image: -ms-linear-gradient(top, #ffe957, #cbb20b);
	background-image: -o-linear-gradient(top, #ffe957, #cbb20b);
	background-image: linear-gradient(to bottom, #ffe957, #cbb20b);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#ffe957, endColorstr=#cbb20b);}

.logo img{ max-width: 100%; height:auto; margin:0px; padding:0px; float:left;}

.nav{ width:69%; margin:23px 0px 0px 0px; padding:0px; float:left;}

.nav ul{ float:left; list-style:none; width:100%;}

.nav ul li{ float:left; list-style:none;}

.nav ul li a{  height:22px; float:left; list-style:none; border-radius:4px; margin:0px 4px 0px 0px; padding:10px 10px 10px; font-family: 'Gotham-Book'; color:#2c4e01; font-size:20px; font-weight:normal; text-align:center; text-decoration:none; text-shadow: 1px 1px 1px #fff9d4; border:1px solid #fff6b6;
	
	background-image: -webkit-gradient(linear, left top, left bottom, from(#fff3a4), to(#e6cb16));
	background-image: -webkit-linear-gradient(top, #fff3a4, #e6cb16);
	background-image: -moz-linear-gradient(top, #fff3a4, #e6cb16);
	background-image: -ms-linear-gradient(top, #fff3a4, #e6cb16);
	background-image: -o-linear-gradient(top, #fff3a4, #e6cb16);
	background-image: linear-gradient(to bottom, #fff3a4, #e6cb16);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#fff3a4, endColorstr=#e6cb16);}
	
.nav ul li a:hover{ color:#000;  text-shadow: 1px 1px 1px #fff; border:1px solid #fff; font-size:20px;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#e2e2e2));
	background-image: -webkit-linear-gradient(top, #ffffff, #e2e2e2);
	background-image: -moz-linear-gradient(top, #ffffff, #e2e2e2);
	background-image: -ms-linear-gradient(top, #ffffff, #e2e2e2);
	background-image: -o-linear-gradient(top, #ffffff, #e2e2e2);
	background-image: linear-gradient(to bottom, #ffffff, #e2e2e2);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#ffffff, endColorstr=#e2e2e2);}
	
.socialnetwork{margin:5px 0px 0px; padding:0px; float:right; outline:none; width:20%; height:44px;}
	
.socialnetwork a img{ margin:0px 5px 0px 0px; padding:0px; float:left; outline:none; width:38px; height:44px;}

#wraper{ background: url(../images/gray_backgroundrepeat.jpg) repeat center top; width:96%; margin:0px 2%; padding:0px; min-height:500px; float:left;}

#main_con{ background: url(../images/gray_background.png) repeat-x center top; width:100%; margin:0px; padding:3% 0px 10px; min-height:800px; float:left;}

.home_conlft{ margin:0px 2%; padding:5px; float:left; width:60%; min-height:500px;}

.banner_con img{background:#fff; width:99%; min-height:300px; padding:10px; margin:0px;  -moz-box-shadow: 0 0 5px #888; -webkit-box-shadow: 0 0 5px#888; box-shadow: 0 0 5px #888;}

.home_conrit{ margin:0px; padding:0px; float:left; width:33%;}

.log_outcon{ margin:0px; padding:0px 0px 2px 0px; float:left; width:100%; min-height:100px; background:url(../images/loginbtm.png) no-repeat center bottom; position:relative; -moz-background-size: 100% auto; -o-background-size: 100% auto; -webkit-background-size: 100% auto}

.login_header{ margin:0px 3%; padding:6px 0px 0px; float:left; border-radius:8px 8px 0px 0px; width:94%; min-height:50px; background:#FF0; text-align:center;

background-image: -webkit-gradient(linear, left top, left bottom, from(#ffe84b), to(#e1c400));
background-image: -webkit-linear-gradient(top, #ffe84b, #e1c400);
background-image: -moz-linear-gradient(top, #ffe84b, #e1c400);
background-image: -ms-linear-gradient(top, #ffe84b, #e1c400);
background-image: -o-linear-gradient(top, #ffe84b, #e1c400);
background-image: linear-gradient(to bottom, #ffe84b, #e1c400);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#ffe84b, endColorstr=#e1c400);}

.login_con{ width:86%; margin:0px 3%; padding:10px 4% ; background:#fff; min-height:200px; float:left;} 

.inpoutboxleft{ width:5%; height:20px; margin:0px 0px 10px 0px; padding:5%; float:left; background:#f7f7f7; border-left:1px solid #459000; border-top:1px solid #459000; border-bottom:1px solid #459000; border-rigth:1px solid #fff;
-moz-box-shadow:inset 0 0 3px #fff; -webkit-box-shadow: inset 0 0 3px #fff; box-shadow:inset 0 0 3px #fff;}

.inpoutbox{ width:79%; height:28px; margin:0px 0px 10px 0px; padding:4% 2%; float:left; background:#f7f7f7; border:1px solid #459000;
-moz-box-shadow:inset 0 0 3px #ababab; -webkit-box-shadow: inset 0 0 3px #ababab; box-shadow:inset 0 0 3px #ababab;
}

.inpoutbox input{ width:100%; margin:0px; padding:0px; float:left; background:#f7f7f7; color:#000; border:none; font-size:20px; font-family:'Gotham-Book';}

.marbtm10{ margin-bottom:10px;}

.error_txt{ margin:0px; padding:0px 0px 6px 0px; font-size:11px; color:#F30; font-family:Arial, Helvetica, sans-serif; text-align:center;}

.btn1{ width:96%; margin:5px 0px 0px 0px; padding:0px 2%; text-align:center; float:left;}

.btn{ width:96%; margin:5px 0px 0px; padding:0px 2%; text-align:center; float:left;}

.blk_linkcon{ margin:10px 0px 0px; padding:0px 0px 0px 21%; float:left; text-align: center; width:63%;}

.blk_link a{ margin:0px; padding:0px; float:left; font-size:16px; color:#535353; font-family:'Gotham-Book'; text-decoration: underline;}

.blk_link a{color:#000;}

.link_divider{ margin:0px 10px; padding:0px; float:left;}

/*=====================================================slider===============================================*/

#banner-fade{background:#fff; width:97%; min-height:300px; padding:10px; margin:0px;  -moz-box-shadow: 0 0 5px #888; -webkit-box-shadow: 0 0 5px#888; box-shadow: 0 0 5px #888}

#banner-slide{margin-bottom: 60px; max-width:100%;}

ul.bjqs-controls.v-centered li a{display:block; padding:10px; background:#fff; float:left; width:23px; height:23px;}

ul.bjqs-controls.v-centered li a:hover{ background:#000; font-size:0px; width:23px; height:23px;}

ol.bjqs-markers li a{padding:0px; background:url(../images/deactivemarker.png); margin:2px; text-decoration: none; font-size:0px; width:23px; height:23px;}

ol.bjqs-markers li.active-marker a,ol.bjqs-markers li a:hover{background:url(../images/activemarker.png) no-repeat; width:23px; height:23px;}

ul.bjqs{position:relative; list-style:none;padding:0;margin:0;overflow:hidden; display:none;}
li.bjqs-slide{position:absolute; display:none;}
ul.bjqs-controls{list-style:none;margin:0;padding:0;z-index:9999;}
ul.bjqs-controls.v-centered li a{position:absolute;}
ul.bjqs-controls.v-centered li.bjqs-next a{right:0; font-size:0px; background:none; width:0px; padding:0px; margin:0px; height:0px;}
ul.bjqs-controls.v-centered li.bjqs-prev a{left:0; font-size:0px; background:none;  width:0px; padding:0px; margin:0px; height:0px;}
ol.bjqs-markers{list-style: none; padding: 0; margin: 0;}
ol.bjqs-markers.h-centered{text-align: center; min-width:27%; padding:0px; margin:30px 39% 0px; float:left; }
ol.bjqs-markers li img{display:inline; float:left;width:23px; height:23px;}
ol.bjqs-markers li a{display:inline-block; float:left; width:23px; height:23px; }

/*=====================================================slider===============================================*/

.shadow{ width:100%; margin:10px 0px; padding:0px; float:left; text-align:center;}

.rit_banner img{ width:89%; background:#fff;  min-height:165px; padding:9px; margin:15px 15px 11px;  -moz-box-shadow: 0 0 5px #888; -webkit-box-shadow: 0 0 5px#888; box-shadow: 0 0 5px #888;
/* For IE 8 *//*-ms-filter: "progid:DXImageTransform.Microsoft.Shadow(0 0 5px #888)";*/
/* For IE 5.5 - 7 *//*filter: progid:DXImageTransform.Microsoft.Shadow(0 0 5px #888);*/
}

.txtcon{ width:31%; /*min-height:350px;*/ margin:0px 15px 0px 0px; padding:0px; float:left; position:relative; /*background:url(../images/txt_con.png) no-repeat;*/ -moz-background-size: 100% auto; -o-background-size: 100% auto; -webkit-background-size: 100% auto}

.txtcon_last{ width:31%; /*min-height:350px;*/ margin:0px; padding:0px; float:left; position:relative; /*background:url(../images/txt_con.png) no-repeat;*/ -moz-background-size: 100% auto; -o-background-size: 100% auto; -webkit-background-size: 100% auto}

.txtcon_txt{ font-size:16px; color:#000; position:absolute; margin:15px 5px 0px 10px; float:left; font-family:'myriadpro-regular';}

.btmad img{ width:97%; background:#fff;  min-height:90px; padding:9px; margin:15px 0px 0px 0px;  -moz-box-shadow: 0 0 5px #888; -webkit-box-shadow: 0 0 5px#888; box-shadow: 0 0 5px #888;}

.footer{ width:100%; min-height:47px; margin:0px; padding:0px; background:url(../images/footer_bg.png) repeat-x; float:left;}

.floatlft{ float:left;}

.org_txt{ color:#a45900; font-family:'myriadpro-regular'; font-size:16px;}

.org_txt a{ text-decoration:underline; color:#a45900; font-family:'myriadpro-regular'; font-size:18px;}

.org_txt a:hover{ text-decoration:underline; color:#864902;}

/*=========================Inner Page *==============================*/

.inner_conlft{ margin:0px 1% 0px 2%; padding:5px; float:left; width:71%; min-height:500px;}

.inner_conrit{ margin:0px; padding:0px; float:left; width:23%;}

.cell_con{ width:99%; min-height:500px; padding:2px 2px 27px; background:#fff; float:left;}

.gray_headingbar{ width:100%; height:56px; margin:0px; padding:0px; float:left; background:url(../images/header_graybg.png) repeat left top; text-align:center; position:relative;}

.budthough_btn{ margin:8px 1% 0px 0px; padding:0px; float:right; height:37px; position: absolute; right:8px; top: 2px;}

.budthough_btn img{ width:59px; height:37px;}

.greenbar_bg{ width:98%; height:56px; margin:1px 0px; padding:0px 1% 0px 1%; float:left; background:url(../images/green_row.png) repeat left top; text-align:center;}

.inn_cell{ width:97%; margin:1% 1% 0px; padding:1px; border:1px solid #c8c8c8; min-height:110px; float:left; background:#fff; position:relative;}

.gray_bg_cell{ width:96%; height:31px; margin:0px; padding:10px 2%; float:left; background:url(../images/header_graybg.png) repeat left top; text-align:center;}

.content{ height:727px; width:99.5%;}

.datetime{ font-size:18px; font-family:Arial, Helvetica, sans-serif; color:#262626; float:right; margin:6px 10px 0px; padding:0px;}

.loungeimg img{width:11%; background:#fff; float:left;  min-height:96px; padding:5px; margin:15px 5px 11px 15px;  -moz-box-shadow: 0 0 5px #888; -webkit-box-shadow: 0 0 5px#888; box-shadow: 0 0 5px #888;}

.strainimg img{width:9%; background:#fff; float:left;  min-height:70px; padding:5px; margin:15px 5px 11px 15px;  -moz-box-shadow: 0 0 5px #888; -webkit-box-shadow: 0 0 5px#888; box-shadow: 0 0 5px #888;}

.lounge_txt{ margin:15px 0px 0px 1%; padding:0px; float:left; width:80%; color:#525252; font-family: 'myriadpro-regular'; font-size:18px;}

.btn_area{margin:5px 5px 0px 0px;padding:0px;float:right;position:absolute; right:0px; bottom:3px;}

.btn_area_single{margin:5px 5px 0px 0px;padding:0px;float:right;width:20%;position:absolute; right:0px; bottom:3px;}

.no_display{margin:3px 5px; padding:5px 5px 0px 0px;float:left;background:url(../images/no_display.png) no-repeat;position:absolute;color:#F00;width:24px;font-size:12px;text-align:center;top: -7px; height:22px; text-align:center;}

a.like_btn{margin:0px;padding:0px;background:url(../images/like_dsel.png) no-repeat left 1px; width:60px;height:30px;font-size:0px;float:left;}

a:hover.like_btn{margin:0px;padding:0px;background:url(../images/like_sel.png) no-repeat left 1px;}

a.like_active{margin:0px;padding:0px;background:url(../images/like_sel.png) no-repeat left 1px;}

a.comment_btn{margin:0px 0px 0px 14px;padding:0px;background:url(../images/comment_dsel.png) no-repeat;width:124px;height:30px;font-size:0px;float:left;}

a:hover.comment_btn{background:url(../images/comment_hover.png) no-repeat;}

a.comment_active{background:url(../images/comment_sel.png) no-repeat;}

a.addcomment_btn{margin:0px 0px 0px 14px;padding:0px;background:url(../images/addcomment_dsel.png) no-repeat;width:167px;height:30px;font-size:0px;float:left;}

a:hover.addcomment_btn{background:url(../images/addcomment_sel.png) no-repeat;}

.fllft{float:left;}

.cell_left{ margin:15px 0px 0px 1%; padding:0px; float:left; color:#525252; font-family: 'myriadpro-regular'; font-size:18px; line-height:36px;width:60%;}

.cell_right{ margin:15px 0px 0px 0px; padding:0px; float:left; font-size:16px; font-family: 'Gotham-Book'; color:#5f5f5f; line-height:40px; width:15%;}

.cell_left_strain{ margin:4% 0px 0px 1%; padding:0px; float:left; color:#525252; font-family: 'myriadpro-regular'; font-size:18px; line-height:36px; width:40%;}

.cell_right_strain{ margin:15px 20px 0px 0px; padding:0px; float:right;}

a.gray_link {font-family: 'myriadpro-regular'; font-size:18px; color:#525252; cursor:pointer;}

a:hover.gray_link { text-decoration:underline; color:#000;}

.arrow img{ margin:55px 10px 0px; padding:0px; float:right; height:28px; vertical-align:middle;}

.topstrain_header{ margin:0px 3%; padding:12px 0px 0px; float:left; border-radius:8px 8px 0px 0px; width:94%; min-height:36px; background:#FF0; text-align:center;

background-image: -webkit-gradient(linear, left top, left bottom, from(#ffe84b), to(#e1c400));
background-image: -webkit-linear-gradient(top, #ffe84b, #e1c400);
background-image: -moz-linear-gradient(top, #ffe84b, #e1c400);
background-image: -ms-linear-gradient(top, #ffe84b, #e1c400);
background-image: -o-linear-gradient(top, #ffe84b, #e1c400);
background-image: linear-gradient(to bottom, #ffe84b, #e1c400);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#ffe84b, endColorstr=#e1c400);}

.top_list{ float:left; margin: 0px 0px 0px 3%; padding: 6px 2% 8px 2%;  background:#fff; width:90%;}

.top_list ul{float:left;margin:0px 0px 0px 3%;padding:0px;}

.top_list li{float:left;font-family:'Gotham-Book';font-size:20px;color:#000;background:url(../images/divider_line_big.png) no-repeat center bottom;list-style:none;padding:8px 6% 6px; width:84%; }

.top_list li.last{ background:none; }

.inner_ad img{width:85%; background:#fff; min-height:125px; padding:4%; margin: 9px 2% 11px 3%; -moz-box-shadow: 0 0 5px #888;-webkit-box-shadow: 0 0 5px#888;box-shadow: 0 0 5px #888;}




/*=========================Inner Page *==============================*/


/*==========================================Userprofile popup ================================================*/

#mask {position:absolute;left:0;top:0; z-index:9000;background-color:#000;display:none;}
  
#boxes .window {position:fixed;left:0;top:0;width:790px;display:none;z-index:9999; padding:0px;}


#boxes #dialoguser{width:90%; min-height:313px;padding:0px 0px 10px 0px;border:1px solid #fff; background:url(../images/popup_bg.png) repeat-x #fff;}

.userprofileblock{margin:2%; padding:2%; float:left; width:92%; min-height:30px;background:#fff;border-radius:5px;border:1px solid #d7d5d5;}

.userprofile_sec1{width:23%;margin:0px 1% 0px 0px;padding:0px;float:left;}

.userprofile_sec2{width:38%; min-height:80px;margin:0px; padding:2% 0px 0px;float:left;border-right:1px solid #d7d5d5;}

.userprofile_sec3{width:35%;margin:0px 0px 0px 2%;padding:0px;float:left;}

.username{ font-size:20px; color:#000;}

.biohead{color:#205f00; font-size:18px;}

.biodis{color:#c3c3c3; font-size:14px; margin:5px 5px 5px 0px; font-family:Arial, Helvetica, sans-serif;}

.userdat{color:#6e6e6e; font-size:16px; margin:5px 5px 5px 0px;}

.slothead{ font-size:20px; color:#205f00; display:block; text-align:center; margin:0px 0px 10px 0px;}

.slotgraybg{ width:315px; height:22px; background:#ededed; padding:5px; font-size:18px; }

.slotwhitebg{ width:315px; height:22px; padding:5px; font-size:16px; }

.slotblock1{ margin:0px; padding:0px; float:left; width:82px; display:block;}

.slotblock2{ margin:0px; padding:0px; float:left; width:35px; color:#773e00; border-right: 1px solid #b4b0b0;}

.slotblock3{ margin:0px 0px 0px 8px; padding:0px; float:left; width:154px;}

.slotblock4{ margin:0px; padding:0px; float:left; width:35px; color:#773e00;}

.userprofilelist_sec1{width:95px;margin:0px;padding:0px;float:left;}

.userprofilelist_sec2{width:240px;margin:0px;padding:5px 0px 0px 0px;float:left;}

.userprofilelist_sec3{width:405px;min-height:110px;margin:0px;padding:5px 0px 0px 0px;float:left;border-left:1px solid #dedede;}

.userprofilelist_sec3 table {width:404px;}

.userprofilelist_sec3 table tr td{border:none;}

.userprofilelist_sec3 table tr.borderbtm {border-bottom:1px solid #dedede;}

.userprofilelist_sec3 table tr td {text-align:left;font-size:18px;color:#949494;padding:15px 5px 15px 5px;}

.userprofilelist_sec3 table tr td.borderrit {text-align:left;font-size:20px;color:#949494;border-right:1px solid #dedede;}

.userlisthead{ font-size:20px; color:#205f00; display:block; margin:0px;}

.follow_btn{ margin:0px; padding:0px; float:right; position:absolute; right:30px; top:5px; }

.userpopup_header{margin:0px;padding:0px;float:left;height:45px; width:100%; text-align:center; background:url(../images/green_row.png) repeat-x left top;}

.headertxt{ font-family: 'DomesticMannersRegular'; font-size:30px; color:#fff; text-shadow: 2px 2px 0 #2b6a03;}

.popup_btncon{ float:right; width:200px; margin:10px 0px 0px; padding:0px;}

.popup_btn{ float:left; width:70px; margin:0px; padding:0px;}

.close{float: right; margin: 0;padding: 0;position: absolute; right: -30px; top:-28px; z-index:999;}


/*============ 10 june ===========*/

#example-two{ margin:10px 0px 0px; padding:0px; float:left;}

#example-two .list-wrap { background:#fff; padding: 10px; margin:0px 2% 0px; width:94%; border:1px solid #d6d6d6; float:left; }

#example-two ul { list-style: none; }
#example-two ul li a { display: block; border-bottom: 1px solid #666; padding: 4px; color: #666; height:22px;}


#example-two ul li a:hover { background: #333; color: white; }
#example-two ul li:last-child a { margin:0px;}

#example-two .nav {overflow: hidden; margin:0px 0px 0px 21px; padding:0px; float:left;}

#example-two .nav li { float:left; margin:0 5px 0 0; position:relative;  padding:0px; border: 1px solid #d3d3d3; text-align:center;}
	
#example-two .nav li:hover { color: #7b3900; 	}
	
#example-two .nav li.last { margin-right: 0; }

#example-two .nav li a { display: block; font-family: 'Gotham-Book'; font-size:18px; color:#bfbfbf;  text-decoration:none; float:left; border:none;
padding:5px 8px; min-width:100px;

background-image: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#e6e6e6));
	background-image: -webkit-linear-gradient(top, #fff, #e6e6e6);
	background-image: -moz-linear-gradient(top, #fff, #e6e6e6);
	background-image: -ms-linear-gradient(top, #fff, #e6e6e6);
	background-image: -o-linear-gradient(top, #fff, #e6e6e6);
	/*background-image: linear-gradient(to bottom, #fff, #e6e6e6);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#fff, endColorstr=#e6e6e6);*/
}

#example-two li a.current,#example-two li a.current:hover { color: #7b3900; 
background-image: -webkit-gradient(linear, left top, left bottom, from(#fae978), to(#e5ca15));
background-image: -webkit-linear-gradient(top, #fae978, #e5ca15);
background-image: -moz-linear-gradient(top, #fae978, #e5ca15);
background-image: -ms-linear-gradient(top, #fae978, #e5ca15);
background-image: -o-linear-gradient(top, #fae978, #e5ca15);
background-image: linear-gradient(to bottom, #fae978, #e5ca15);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#fae978, endColorstr=#e5ca15);

}


#example-two .nav li a:hover, #example-two .nav li a:focus {  color: #7b3900;

background-image: -webkit-gradient(linear, left top, left bottom, from(#fae978), to(#e5ca15));
background-image: -webkit-linear-gradient(top, #fae978, #e5ca15);
background-image: -moz-linear-gradient(top, #fae978, #e5ca15);
background-image: -ms-linear-gradient(top, #fae978, #e5ca15);
background-image: -o-linear-gradient(top, #fae978, #e5ca15);
background-image: linear-gradient(to bottom, #fae978, #e5ca15);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#fae978, endColorstr=#e5ca15); }

.hide { position: absolute; top: -9999px; left: -9999px; }

.ratting_display{ background:url(../images/no_display.png) no-repeat; font-family:Arial, Helvetica, sans-serif; font-size:12px; color:#F00; float:left; right:-2px; top:-20px; padding:5px 6px 4px 2px; width:18px; height:19px;}

a.edit_btn{ float:right; border:1px solid #fff6b6; border-radius:2px; margin:0px; padding:5px 10px 5px 10px; font-family:'Gotham-Book'; font-size:18px;color:#773e00; text-shadow: 0px 1px -1px #ffe190; text-align:center; text-decoration:none;
	
background-image: -webkit-gradient(linear, left top, left bottom, from(#fae978), to(#e5ca15));
background-image: -webkit-linear-gradient(top, #fae978, #e5ca15);
background-image: -moz-linear-gradient(top, #fae978, #e5ca15);
background-image: -ms-linear-gradient(top, #fae978, #e5ca15);
background-image: -o-linear-gradient(top, #fae978, #e5ca15);
background-image: linear-gradient(to bottom, #fae978, #e5ca15);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#fae978, endColorstr=#e5ca15);
}

a:hover.edit_btn{border:1px solid #e5c803;border-radius:2px;}

.marrit10{ margin-right:10px; float:left;}


/*===================================17 june ====================================================*/

table {border-collapse: collapse;width:495px;}

th {padding: 0 0.5em;text-align: left;}

tr.tabheader td {border:1px solid #d8d8d8;font-family: 'Gotham-Book';font-size:18px;color:#019101;padding:5px;
	
background-image: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#e5e5e5));
background-image: -webkit-linear-gradient(top, #fff, #e5e5e5);
background-image: -moz-linear-gradient(top, #fff, #e5e5e5);
background-image: -ms-linear-gradient(top, #fff, #e5e5e5);
background-image: -o-linear-gradient(top, #fff, #e5e5e5);
background-image: linear-gradient(to bottom, #fff, #e5e5e5);
}

td {border-bottom: 1px solid #CCC;color: #707070;font-size: 15px;padding: 8px 0;}

td:first-child {/*width: 190px;*/}

td+td {/*border-left: 1px solid #CCC;*/text-align: center;}


.reviewtable table{margin:0px;padding:0px;width:100%;}

.reviewtable table tr.dividerbtm{border-bottom:1px solid #bbbbbb;}


.reviewtable table td.borrit{border:none;font-size:18px;color:#757575;text-align:left;padding:5px 0px;}

.reviewtable table tr th{border:none;font-size:24px;color:#216100;margin:0px;padding:5px 0px;}

.padtopbtm10{ padding-bottom:10px; padding-top:10px;}

.reviewtextcon{margin:5px 0px 0px 0px;padding:8px;float:left;width:604px;height:66px;background:url(../images/reviewtextarea.png) no-repeat;}

.reviewtextcon textarea{margin:0px;padding:0px;float:left;width:604px;height:66px;background:none;resize:none;border:0px;}

.reviewcon_lft{width:620px;float:left;margin:0px;padding:0px;}

.reviewcon_rit{width:75px;float:left;margin:84px 0px 0px 15px;padding:0px;}

.limit10{ padding:10px 0px 0px; text-align:right; float:left; display:block; width:100%;}

.reviewtable table td.blank{font-size:0px;margin:0px;padding:0px;height:20px;}

.dis_address{ font-size:14px; color:#216100; }

.blk_txt{ color:#000;}

.followertable table{margin:0px;padding:0px;width:100%;text-align:left;}

.followertable table td.borrit{border-right:1px solid #bbbbbb;font-size:18px;color:#757575;text-align:left;padding:5px 0px;}

.followertable table td+td{text-align:left;}

/*==========================================Userprofile popup ================================================*/

/*========================================radio=============================================*/

.marleft10 { margin:10px 15px 0px 5px}

.marleft5 { margin:10px 5px 0px 5px}

/*.custom-checkbox,*/ .custom-radio { position: relative; float:left;}
	
/*.custom-checkbox input,*/ .custom-radio input {position:absolute; left:11px; top:12px; margin:0; z-index: 0;}

/*.custom-checkbox label,*/ .custom-radio label {display: block; position: relative; z-index: 1; font-size: 1.3em; padding-right: 1em; line-height: 1; padding: 10px 0 4px 37px; cursor: pointer; font-family: 'Gotham-Book'; color:#000;}

/*.custom-checkbox label,*/ .custom-radio label { background:url(../images/radio.png) no-repeat  0px 4px;}

/*.custom-checkbox label.hover,.custom-checkbox label.focus,*/.custom-radio label.hover,.custom-radio label.focus {background: url(../images/radio_hover.png) no-repeat 0px 4px;}

/*.custom-checkbox label.checked, */.custom-radio label.checked {background: url(../images/radio_sel.png) no-repeat  0px 4px; }

/*.custom-checkbox label.checkedHover, */.custom-checkbox label.checkedFocus {background: url(../images/radio_sel.png) no-repeat  0px 4px;}

/*.custom-checkbox label.focus,*/ .custom-radio label.focus {background: url(../images/radio_sel.png) no-repeat  0px 4px;}
/*========================================radio=============================================*/

.grenlft_con{margin:0px; padding:0px; width:36%; float:left;}

.grenrit_con{margin:0px 0px 0px 3%; padding:0px; width:60%; float:left;}

.searchbox{ margin:9px 2% 0px 0px; padding:0px; float:left; width:100%; height:35px; border:1px solid #fff;

background-image: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#e5e5e5));
background-image: -webkit-linear-gradient(top, #fff, #e5e5e5);
background-image: -moz-linear-gradient(top, #fff, #e5e5e5);
background-image: -ms-linear-gradient(top, #fff, #e5e5e5);
background-image: -o-linear-gradient(top, #fff, #e5e5e5);
background-image: linear-gradient(to bottom, #fff, #e5e5e5);
/*background-image: linear-gradient(to bottom, #fff, #e5e5e5);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#fff, endColorstr=#e5e5e5);*/
}

.searchbox img{ margin:0px 0px 0px 2%; padding:0px; float:left;  height:33px;}

.searchbox input{ margin:2px 1% 0px; padding:0px; float:left; width:58%; height:30px; border:none; background:url(../images/blank.png) repeat-x; font-family:Arial, Helvetica, sans-serif; font-size:20px;}

.search_btn{ margin:0px 2px 0px 0px; padding:0px; float:right; width:20%; height:30px; 

/*border:none; font-family: 'Gotham-Book'; font-weight:400; font-size:20px; color:#000; text-shadow:0px 1px 0px #fff;

background-image: -webkit-gradient(linear, left top, left bottom, from(#f4f4f4), to(#b9b9b9));
background-image: -webkit-linear-gradient(top, #f4f4f4, #b9b9b9);
background-image: -moz-linear-gradient(top, #f4f4f4, #b9b9b9);
background-image: -ms-linear-gradient(top, #f4f4f4, #b9b9b9);
background-image: -o-linear-gradient(top, #f4f4f4, #b9b9b9);
background-image: linear-gradient(to bottom, #f4f4f4, #b9b9b9);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#f4f4f4, endColorstr=#b9b9b9);*/
}

.profile_pic img {width:108; background:#fff; float:left;  min-height:96px; padding:5px; margin:5px 10px 5px 5px;  -moz-box-shadow: 0 0 5px #888; -webkit-box-shadow: 0 0 5px#888; box-shadow: 0 0 5px #888;}

.radio_span{float:left; margin:0px; padding:0px; display:block; height:38px; width:100%}

.photo_table{margin:0px; padding:0px; float:left; width:100%;}

.photo_table td{ font-size:0px;}

.add_dis_btn{margin: 0px; padding: 0px; float: right; position: absolute; right: 9px; top: 10px;}

.dis_greenheader{ padding:0px 0px 0px 165px; float:left;}

.dispensary_cell{ width:93%; margin:1% 1% 10px; padding:15px 15px 5px 15px; border:1px solid #c8c8c8; min-height:186px; float:left; background:#fff; position:relative; -moz-box-shadow: 0 0 5px #888; -webkit-box-shadow: 0 0 5px#888; box-shadow: 0 0 5px #888;}

.strain_cell{ width:97%; margin:1% 1% 10px; padding:0px; border:1px solid #c8c8c8; min-height:110px; float:left; background:#fff; position:relative; -moz-box-shadow: 0 0 5px #888; -webkit-box-shadow: 0 0 5px#888; box-shadow: 0 0 5px #888;}

.blank_bg_cell{ width:100%; margin:0px; padding:0px; float:left; text-align:center;}

.name_link a{ padding:0px; font-family: 'Gotham-Book'; font-size:24px; font-weight:bold; color:#333;  float:left; text-align:left; text-decoration:none;}

.name_link a:hover{ color:#000; text-decoration:none;}

.dispensary_img img { margin:10px 0px 0px 0px; padding:0px; float:left; width:100%; height:138px; }

.dispensary_followbtn{ float:right; margin:0px; padding:0px;}

.dis_bottom_cell{ width:100%; height:45px; margin:0px; padding:0px; float:left;}

.countyname{ margin:12px 8px 0px 0px; padding:0px; font-family: 'Gotham-Book'; font-size:20px; color:#525252; float:left; }

.county_divider { margin:5px 10px 0px 5px ; float:left; padding:0px; background:url(../images/country_dividerline.png) no-repeat left 5px; }

.claim_btn{ margin:12px 0px 0px; padding:0px; float:right;}

.btncon{ width:100%; float:right; position:relative;}

.sub_comment{ width: 94%; margin:10px 1% 0px; padding:10px 2% 0px; float:left; border-top:1px solid #cccccc;}

.green_txt{ font-family:Arial, Helvetica, sans-serif; font-size:14px; color:#019101; text-align:right; float:left; width:80%; font-style:italic; margin:15px 0px 0px 15px;}

.add_comment textarea{ margin:0px 0px 10px; padding:4px 5px 4px 4px; float:left; background:#fff; border:1px solid #ccc; width:85%; height:80px; resize:none;}

.minimumtxt{ margin:0px; padding:0px;}

.post_btn {float:left; margin:54px 0px 0px 10px; padding:0px}

.graytext{ margin:0px; padding:0px; float:left; text-align:right; width:85%; font-family:Arial, Helvetica, sans-serif; font-size:16px; color:#999; font-style:italic;}

.strain_btn{ margin:10px 0px 0px 0px; float:right;}

.grntxt{ color:#2b6a03; font-size:24px; font-family:'Gotham-Book'; }

.martoprit2{ margin:2% 2% 0px 0px;}

.popup_greenbar{float:left; margin:1%; padding:1%; width:96%; background:#466b03; font-family:'Gotham-Book'; font-size:24px; color:#fff;}

/*========================================================= Add Dispensary  List ===================================================================================*/

.edit_dis_con{ margin:2%; padding:0px; float:left; width:95%;}

.addleftcon{ width:15%; margin:2% 4% 0px 0px; padding:0px; float:left;}

.disphoto_con img{ background:#fff; padding:4%; margin: 9px 2% 11px 3%; -moz-box-shadow: 0 0 5px #888;-webkit-box-shadow: 0 0 5px#888;box-shadow: 0 0 5px #888;}

.addritcon{ width:80%; min-height:150px; margin:2% 0px 0px 0px; padding:0px; float:left; }

.addritcon dl{ width:100%; margin:0px 0px 10px 0px; padding:0px; float:left; color:#757575; font-size:16px;}

.addritcon dl dt{ width:45%; margin:0px; padding:0px; float:left; text-align:left; }

.addritcon dl dd{ width:45%; margin:0px 0px 0px 2%; padding:0px; float:left; text-align:left;}

.txtcenter{ text-align:center; width:95%}

.adddisinput{margin:2% 0px 0px 0px; padding:2% 4%; float:left; width:88%; height:20px; border:1px solid #ececec;
 
background-image: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#e5e5e5));
background-image: -webkit-linear-gradient(top, #fff, #e5e5e5);
background-image: -moz-linear-gradient(top, #fff, #e5e5e5);
background-image: -ms-linear-gradient(top, #fff, #e5e5e5);
background-image: -o-linear-gradient(top, #fff, #e5e5e5);
background-image: linear-gradient(to bottom, #fff, #e5e5e5);
}

.adddisinput input{margin:0px; padding:0px; float:left; width:100%; height:20px; background:none; border:none; font-size:15px; color:#747474; }

.typeinput{margin:0px 1% 0px 0px; padding:1% 1%; float:left; width:32%; height:20px; border:1px solid #ececec;
 
background-image: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#e5e5e5));
background-image: -webkit-linear-gradient(top, #fff, #e5e5e5);
background-image: -moz-linear-gradient(top, #fff, #e5e5e5);
background-image: -ms-linear-gradient(top, #fff, #e5e5e5);
background-image: -o-linear-gradient(top, #fff, #e5e5e5);
background-image: linear-gradient(to bottom, #fff, #e5e5e5);}

.typeinput input{margin:0px; padding:0px; float:left; width:100%; height:20px; background:none; border:none; font-size:15px; color:#747474;}

.valueinput{margin:0px 1% 0px 0px; padding:1% 1%; float:left; width:12%; height:20px; display:block; border:1px solid #ececec;
 
background-image: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#e5e5e5));
background-image: -webkit-linear-gradient(top, #fff, #e5e5e5);
background-image: -moz-linear-gradient(top, #fff, #e5e5e5);
background-image: -ms-linear-gradient(top, #fff, #e5e5e5);
background-image: -o-linear-gradient(top, #fff, #e5e5e5);
background-image: linear-gradient(to bottom, #fff, #e5e5e5);}

.valueinput input{margin:0px; padding:0px; float:left; width:100%; height:20px; background:none; border:none; font-size:15px; color:#747474;}

.custom-checkbox{ margin:0px; padding:0px; float:left; width:5%;}

.row{width:100%; margin:1% 0px; padding:0px; float:left;}

.rowdiv{margin:0px 9px 0px 0px;padding:0px;float:left;}

.dividerline img{ margin:0px; padding:0px; float:left; width:100%;}

.adddiscon{ width:100%; margin:0px; padding:10px 0px 0px 0px; float:left;}

.lftmar3{ margin-left:3px;}

.lftmar8{ margin-left:8px;}

.lftmar50{ margin-left:50px; margin-top:15px; margin-bottom:10px; margin-right:3%; float:right;}

.lftmar40{ margin-left:40px; margin-bottom:5px; margin-right:3%; float:right;}

a.yellow_btn{ float:left; width:80%; border:1px solid #fff6b6; border-radius:2px; margin:0px; padding:5px 10px 5px 10px; font-family:'Gotham-Book'; font-size:18px;color:#773e00; text-shadow: 0px 1px -1px #ffe190; text-align:center; text-decoration:none;
	
background-image: -webkit-gradient(linear, left top, left bottom, from(#fae978), to(#e5ca15));
background-image: -webkit-linear-gradient(top, #fae978, #e5ca15);
background-image: -moz-linear-gradient(top, #fae978, #e5ca15);
background-image: -ms-linear-gradient(top, #fae978, #e5ca15);
background-image: -o-linear-gradient(top, #fae978, #e5ca15);
background-image: linear-gradient(to bottom, #fae978, #e5ca15);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#fae978, endColorstr=#e5ca15);
}

a:hover.yellow_btn{border:1px solid #e5c803;border-radius:2px;}

/*========================================================= Add Dispensary  List ===================================================================================*/

/*========================================================= Add New Strain ===================================================================================*/

.addstraincon{ width:95%; margin:0px; padding:0px; float:left; }

.addstraincon dl{ width:100%; margin:0px 0px 10px 0px; padding:0px; float:left; color:#757575; font-size:16px;}

.addstraincon dl dt{ width:45%; margin:0px; padding:0px; float:left; text-align:left; }

.addstraincon dl dd{ width:45%; margin:0px 0px 0px 2%; padding:0px; float:left; text-align:left;}

.addstrain_photocon{ float:left; margin:1% 0px 0px; padding:0px; width:100%;}

.addstrain img {width:30%; background:#fff; float:left;  min-height:96px; padding:5px; margin:0px 2% 2% 0px;  -moz-box-shadow: 0 0 5px #888; -webkit-box-shadow: 0 0 5px#888; box-shadow: 0 0 5px #888;}

.addstrain_last img {width:30%; background:#fff; float:left;  min-height:96px; padding:5px; margin:0px 0px 2% 0px;  -moz-box-shadow: 0 0 5px #888; -webkit-box-shadow: 0 0 5px#888; box-shadow: 0 0 5px #888;}

.mar_rit2{ margin-right:2%; float:right;}

.martop_btm2{ margin-top:2%; margin-bottom:2%; float:left;}

.adddisinput select{margin:0px; padding:0px 0px 1% 0px; float:left; width:100%; background:none; border:none; font-size:15px; color:#747474;}

.headtext{ font-family: 'Gotham-Book'; font-size:24px; color:#019101;}

.adddisinput_big{margin:0px; padding:1%; float:left; width:80%; height:20px; border:1px solid #ececec;
 
background-image: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#e5e5e5));
background-image: -webkit-linear-gradient(top, #fff, #e5e5e5);
background-image: -moz-linear-gradient(top, #fff, #e5e5e5);
background-image: -ms-linear-gradient(top, #fff, #e5e5e5);
background-image: -o-linear-gradient(top, #fff, #e5e5e5);
background-image: linear-gradient(to bottom, #fff, #e5e5e5);
} 

.adddisinput_big select{margin:0px; padding:0px 0px 1% 0px; float:left; width:100%; background:none; border:none; font-size:15px; color:#747474;}
/*========================================================= Add New Strain ===================================================================================*/

/*@media only screen and (max-width:1024px) {*/
	
/*@media only screen and (min-width : 768px) and (max-width : 1024px) {*/

@media screen and (max-width: 1024px) {

h5{ font-size:20px;}
	
.logo img{ margin:16px 0px 0px}

.blk_linkcon{ padding:0px 0px 0px 4%; width:92%;}
	
.inpoutbox{ height:25px;}

.rit_banner img{ width:88%; margin:10px;}

.txtcon{ width:31%; min-height:50px;}

.txtcon_last{ min-height:50px;}

#banner-fade{ min-height:268px;}

.txtcon_txt{ font-size:12px;}

/*.btn_area{ width:68%;}*/

.greenbar_bg{ width: 98%; padding: 0px 7px;}

.custom-radio label{ font-size:20px;}

.loungeimg img{ width:16%;}

.lounge_txt{ width:76%;}

.budthough_btn{ margin:8px 4% 0px 0px;}

.cell_left{ width:53%;}

.arrow img{ margin:2px 10px 0px;}

.cell_right{ width:20%;}

.topstrain_header{font-size:20px;}

.top_list li{ font-size:16px;}

.content{ height:644px;}

.dis_greenheader {padding: 0px 0px 0px 117px;}

.dispensary_cell{ width:92%;}

.green_txt{ width:75%}

.org_txt { font-size:14px;}

.org_txt a{ font-size:13px;}

.socialnetwork a img{width:30px; height:35px;}

}

/*@media only screen and (min-width : 768px) and (max-width :980px) {*/

/*@media screen and (max-width: 830px) {*/

@media screen and (max-width : 980px) {

h1{ font-size:20px;}

.logo img{ margin:16px 0px 0px}

.blk_linkcon{ padding:0px 0px 0px 10%; width:90%; margin:3px 0px 0px; }

.blk_link a{ font-size:12px; }

.inpoutboxleft{  height:20px; padding: 3% 5%; margin:0px 0px 7px;}
	
.inpoutbox{ height:20px; padding:3% 2%; margin:0px 0px 7px;}

.inpoutbox input { font-size:14px;}

.rit_banner img{ width:88%; margin:10px;}

.txtcon{ width:31%; min-height:50px;}

.txtcon_last{ min-height:50px;}

#banner-fade {min-height: 220px;}

.logo{ height:97px;}

header{ height:96px; position:relative;}

ol.bjqs-markers.h-centered{ min-width: 32%; margin:23px 34% 0px;}

.txtcon {width: 30%;}

.login_header{ min-height:40px;}

.btn{ margin:0px;}

.rit_banner img {width: 85%; min-height:130px;}

#main_con{padding: 28px 0px 10px;}

.socialnetwork{ width:24%;}

.org_txt { font-size:12px;}

.org_txt a{ font-size:12px;}

.txtcon_txt {font-size: 10px;}

.org_txt a {font-size: 10px;}

.socialnetwork a img{width:25px; height:29px;}

.nav {position:absolute; float:right; z-index:999; width:38%; right:0px;}
	
.nav ul {padding: 5px 0;position: absolute;top: 0;left: 0;border: solid 1px #aaa;background: #fff url(images/icon-menu.png) no-repeat 10px 11px;border-radius: 5px;box-shadow: 0 1px 2px rgba(0,0,0,.3);}

.nav li {display: none; /* hide all <li> items */margin: 0; }

.nav .current {display: block; /* show only current <li> item */}

.nav a {display: block;padding: 5px 5px 5px 32px;text-align: left; width:100%;}

.nav .current a { background: none; color: #666; width:100%; }

	/* on nav hover */
.nav ul:hover { background-image: none; width:100%;}

.nav ul:hover li {display: block;margin: 0 0 5px; width:100%;}

.nav ul:hover .current {background: url(images/icon-check.png) no-repeat 10px 7px;}

}

/*.login_conbtm img{ margin:0px; padding:0px; float:left; width:100%; height:4px;  }*/
