body { margin: 0px auto; padding:0px; font-family:Arial, Helvetica, sans-serif; font-size:12px; line-height:normal; word-wrap: break-word;}
#wrapper { margin: 0px auto; padding:0px; background:url(../../images/imagesforcss/Budfolio-bkgd.jpg); background-repeat:repeat-x; /*width:100%;*/width:1024px; border:solid 1px #dcdcdc; overflow: hidden;}
.header{  margin: 0px auto; width:100%; height:auto; height:127px;}
.header_left{ float:left; width:75%; padding:0px;}
.header_right{ float:left; width:25%; padding:0px; position:relative;}
.content_wrapper{ width:100%; float:left;}
.home_content_left{ float:left; width:330px; padding:10px;}
.home_content_right{ float:left; width:674px;}
.left_one{ width:100%; float:left; height:200px;}
.left_two{ width:100%; float:left; padding:10px 0px;}
.left_three{ width:100%; float:left; padding:10px 0px;}
.home_textbox{ float:left; width:100%; text-align:center; margin:0px; padding:0px;}
ul.home_textbox li { list-style:none; width:100%; text-align:left; float:left;}
.right_one{ float:left; width:655px; padding:10px;}
.headings{ width:100%; float:left; text-align:center; }
.text-left{ text-align:left;}
.main_menu{ float:left; width:100%;}
.main_menu_ul{ float:left; width:100%; background-color:#67AF57; margin:0px; padding:0px;}
.main_menu_ul li { float:left; padding:5px 14px; list-style:none; font-size:13px; font-weight:bold; color:#FFFFFF; border-right:solid 2px #B3CE6E;}
.main_menu_ul li a { color:#FFFFFF; text-decoration:none;}
.main_menu_ul li.first{ padding:5px 10px;}
.main_menu_ul li.last{ padding:5px 10px; border-right:solid 0px;}
.adminlogin_wrap{ margin-left:auto; margin-right:auto; overflow:hidden;float:left; width:100%; }
.rpwd_wrapper{width:50%; text-align:center; margin-left:auto; margin-right:auto;}
.rpwd_innerwrapper{ float:left; width:90%; padding:10px;}
.admin_innerwrapper{float:left; width:90%; padding:10px;}
.admin_innerwrapper label {float:left; width:55%; text-align:left; font-weight:bold; padding-left:50px;}
.admin_innerwrapper div { float:left; width:100%; padding:10px 0;}
.rpwd_innerwrapper div { float:left; width:100%; padding:10px 0;}
.rpwd_innerwrapper label{ float:left; width:150px; text-align:left;}
.indexmsg{ float:left; width:100%; text-align:center; padding:10px 0;}
.indexmsg h4{ margin:0px; padding:0px; text-align:center;}
.invalidstrain{ float:left; width:100%; text-align:center; color:#FF0000;}
.leftwc{ float:left;width:100%; text-align:center; }
.logout{ position:absolute; top:110px; right:10px;}
.logout a{ color:#FFFFFF; font-weight:bold; }
.mid_wrap{ float:left; width:100%; position:relative;}
.left100{ float:left; width:100%;}
.center{ text-align:center;}
.leftpart{ float:left; width:40%; padding-left:10%;}
.displeftimgpart{ float:left; width:23%; padding-left:3%;}
.rightpart{ float:left; width:40%; padding-right:10%;}
.tbboxdetail{ padding:5px 0px; position:relative;}
.tbox_tip{ float:left; width:115px;}
.tbox_tip80{ float:left; width:95px;}
.tbox_tip120{ float:left; width:120px;}
.left{ text-align:left;}
#disp_image_preview{border: 1px solid #DEDEDE;float: left; margin-bottom: 10px; margin-right: 10px;width: 135px; height:135px;}
#disp_image_preview img { float:left; width:100%; height:100%;}
#ad_image_preview{border: 1px solid #DEDEDE;float: left; height:108px; margin-bottom: 10px; margin-right: 10px;width:148px;}
#ad_image_preview img { float:left; width:100%; height:100%;}
.bold14{ font-weight:bold; font-size:14px;}
.padding10{ padding:10px 0;}
.padding5{ padding:5px 0;}
.padding30{ padding:30px 0;}
.right{ text-align:right;}
.footer_wrap{ float:left; width:100%; margin-top:70px; padding-top:30px; padding-bottom:30px;}
.ldetail_btn{ padding-right:6%; float:left; width:94%; padding-top:10px;}
form { float:left;}
.padding8{ padding:8px 0;}
.disp_list{ float:left; width:100%;}
.disp_list ul{ float:left; width:100%; margin:0; padding:0;}
.disp_list ul li { float:left; padding:10px 2%; width:96%; border-bottom:solid 1px #fff;}
.disp_list ul li.displihead{ border-bottom:solid 0px!important; background:#fff; margin-bottom:20px; min-height:100px;}
.dispadmin_img{ float:left; width:10%; height:100px; margin-right:20px; }
.dispadmin_img img { float:left; width:100%; height:100%;}
.disp_admin_text{ float:left; width:20%;}
.admin_btn{ float:right; padding-right:20px;}
.strainpaging{ width:80%; float:left; text-align:center; padding-left:10%; padding-right:10%;}
.strainpaging span{ float:left; padding:5px 10px; border:solid 2px green; text-align:center; margin:10px; background:green; color: #FF0000;}
.strainpaging span a { text-decoration:none; color: #fff; }
.dispnamevalidate{ float:left; width:84%; text-align:center; padding:5px 0; padding-left:16%; color:#FF0000;}
#dispnamediv{ float:left; width:100%;}
.images_preview_ldetail{ float:left; width:100%; padding-top:10px; padding-bottom:10px;}
.images_preview_ldetail div { float:left; position:relative;}
.images_preview_ldetail div span{ background-image: url("../../images/imagesforcss/close-icon.png");background-repeat: no-repeat;   cursor: pointer;    height: 16px;    position: absolute;    right: -5px;    top: -5px;    width: 16px;}
.images_preview_ldetail div img{ border: 2px solid green;float: left;  height: 80px;   margin-bottom: 5px;   margin-left: 5px; width: 80px;}
.imgleftpart{ float:left; width:23%;}
.l_pagedeialfrm{ float:left; width:47%; padding:0 1%;}
#headingtext{ float:left; width:80%; height:20px;}
#leftsidebartext{ float:left; width:80%; height:20px;}
.adfrm{ float:left; width:76%;}
.adlist_wrp{ float:left; width:100%; padding:20px 0;}
.adlist_wrp ul{ float:left; width:100%; margin:0; padding:0; border-bottom:solid 2px #dcdcdc;}
.adlist_wrp ul li { float:left; width:100%; padding:10px 0 5px 0%; border-top: solid 2px #dcdcdc;}
.adlist_wrp ul li .adimg { float:left; width:10%;}
.adlist_wrp ul li .adimg img { float:left; width:100%; height:100%; border:0px;}
.adlist_wrp ul li div { float:left; padding-left:1%;}
.adlist_wrp h1{ float:left; width:100%; text-align:center; padding:10px 0 0px 0; margin:0;}
.ad_status { float: right; }
.ad_edit{ float: right;padding-right:25px;}
.status_btn{ float:right; padding-right:30px; padding-bottom:20px;}
.green{ color:green;}
.red{ color:red;}
.queryresult{ padding:0px 0 20px 0;}
.fadheading{ margin:0; padding-top:20px; padding-bottom:20px;}
.dlete_ad{ padding-left:20px;}
.tbboxdetail textarea{ padding:5px; text-align:justify;}
.imgpre{ float:left; width:88%; padding:20px 2% 20px 10%;}
.add_new_link{ padding-top:20px; float: right; width:127px;}
.add_new_link a { text-decoration:none;}
.dispmsg{ float:left; width:95%; text-align:center; padding-bottom:20px;margin-top:10px;}
.disp_title{ float:left; width:75%; padding-left:10%; text-align:center;}
#head_one{ width:10%; font-weight:bold;}
#head_two{width:14%;font-weight:bold;}
#head_three{width:14%;font-weight:bold;}
#head_four{width:10%;font-weight:bold;}
#head_five{width:8%;font-weight:bold;}
#head_six{width:8%;font-weight:bold;}
#head_seven{width:7%;font-weight:bold; text-align:center;}
#head_eight{width:13%;font-weight:bold; text-align:center;}
#head_nine{width:7%;font-weight:bold; text-align:center;}
.head_one{ width:14%; }
.head_two{width:14%;}
.head_three{width:9%;}
.head_four{width:9%;}
.head_five{width:10%;}
.head_six{width:8%;}
.head_seven{width:5%;}
.head_eight{width:11%;}
.deactive_ad{ float:right;}
.lastadlistdiv{ width:10%!important;}
.home_left_part{ float:left; width:20%; padding:20px 2% 0 1%;}
.visits_list ul { float:left; width:100%; margin:0; padding:0;}
.visits_list ul li { float:left; list-style:none; width:90%; padding:10px 5% 10px 0;}
.home_right_part{ float:left; width:98%; padding:20px 2% 0 1%;}
.home_right_part ul{ float:left; width:100%; margin:0; padding:0;}
.home_right_part ul li { float:left; list-style:none; width:100%; padding:5px 0 5px 0; border-bottom:solid 1px #CC8EAA ; }
.home_right_part ul li.heading{ float:left; font-weight:bold;}
.hone{ float:left; width:21%; padding:5px 2%;}
.htwo,.hfour{float:left; width:10%; padding:5px 2%;}
.hthree{float:left; width:41%; padding:5px 2%;}
.center{ text-align:center;}
.user_list{ padding-top:25px;}
.user_list ul { margin:0; padding:0;}
.user_list ul li { list-style:none; float:left; width:auto; padding:5px; margin:10px; background-color:green;}
.flash { background-color:#fff!important;}
.visits_list li span { float:left; padding-right:10px;}
.borderall{ border:1px solid #CC8EAA;}
.user_list{ display:none;}
.hdtext{ float:left; width:120px;}
.landing_pagedeialfrm{ float:left; width:65%; padding:0 1%;}
.pt10{width:100%; float:left; }
.pt10 textarea{  height:200px;}
.ad_list{ padding-top:25px;}
.ad_list ul { margin:0; padding:0;}
.ad_list ul li { list-style:none; float:left; width:auto; padding:5px; margin:10px; background-color:green;}
#dispensaryfrm{ float:none;}
.dispfieldone{ float:left; width:69%; padding-left:4%;}
.twopart{ float:left; width:50%;}
.dispmenulbl{ margin-left: 5%;
    padding: 20px 0;
    text-align: left;
    text-decoration: underline;
}
#menudata{ float:left; width:100%;}
.admindispmenu{ float:left; width:95%; padding-left:5%; overflow:auto;}
.onlyrpd{ margin-right:10px;}
.mheading{ float:left; width:300px;}
.mhlbl{ float:left; width:85px; font-weight:bold; padding-left:10px;}
.pdt10{ padding:20px 0 10px 0;}
.topbdr{ border-top: solid 2px #dcdcdc; margin-top:20px; overflow:auto;}
.left_rght{ float:right; width:50%; padding-right:10px; text-align:right;}
.left60{ float:left; width:50%;}
.rmtbl{ float:left; margin-left:8px;}
#ad_paging li a{ color:#fff;}
#disp_admin_header_one{ float:left; width:10%;}
#disp_admin_header_two{ float:left; width:15%;}
#disp_admin_header_three{ float:left; width:9%;}
#disp_admin_header_four{ float:left; width:8%;}
#disp_admin_header_five{ float:left; width:10%;}
#disp_admin_header_six{ float:left; width:13%;}
#disp_admin_header_state{ float:left; width:7%;}

.disp_admin_header_state{float:left;width:7%;}

.disp_admin_header_two{ float:left; width:12%;}
.disp_admin_header_three{ float:left; width:11%;}
.disp_admin_header_four{ float:left; width:7%;}
.disp_admin_header_five{ float:left; width:10%;}
.disp_admin_header_six{ float:left; width:11%;}
.bold { font-weight:bold;}
.pdright{ padding-right:2%;}
.delete_disp{ padding-left:20px;}
.trone input[type="text"] { background:pink;}
.superscript_txt{ float:left; width:144px; font-weight:bold; padding-left:26px;}
#dispremovemsg{ float:left; width:100%; text-align:center; color:green;}
.dispremovemsg{ padding:0 0 10px 0;}
#userlisting li .adimg img { float:left; width:100px; height:80px;}
.nodata{ float:left; width:1024px!important; text-align:center; list-style:none;}
.adminurlr{ float:right; width:72%; text-align:right; padding-right:28%; padding-top:2px; font-size:12px; color:red;}
.mdred{ color:red; padding-right:5px;}
.twopart input[type="text"]{width:64%;} 
.tbboxdetail  input[type="text"] {width:60%;}
.miles{ position:absolute; top:7px; right:-32px;}

.lable_width{
	margin-left: 10px;
    margin-right: 30px;
    width: 120px;
}
.payement_detail_div
{
	margin-left: 5%;font-size:14px;font-weight:100;
}


/*------------------------Model window css------------------------*/
#mask {
  position:absolute;
  left:0;
  top:0;
  z-index:9000;
  background-color:#000;
  display:none;
}
  
#boxes .window {
  position:fixed;
  left:0;
  top:0;
  width:1024px;
  display:none;
  z-index:9999;
  padding:0px;
}

#boxes #dialog {
  width:99%; 
  min-height:280px;
  padding:0px;
  border:1px solid #fff;
  
  background-image: -webkit-gradient(linear, left top, left bottom, from(#e5e5e5), to(#fff));
	background-image: -webkit-linear-gradient(top, #e5e5e5, #fff);
	background-image: -moz-linear-gradient(top, #e5e5e5, #fff);
	background-image: -ms-linear-gradient(top, #e5e5e5, #fff);
	background-image: -o-linear-gradient(top, #e5e5e5, #fff);
	background-image: linear-gradient(to bottom, #e5e5e5, #fff);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#e5e5e5, endColorstr=#fff)
}
.close{
	float: right;
    margin: 0;
    padding: 0;
    position: absolute;
    right: -16px;
    top: -16px;
}
.budthought_popup{
	padding:20px 25px;
	float:left;
	margin-left:115px;
}
.ad_errormsg{
	float:left;
	width:100%;
	/*text-align:center;*/
	color:#A45900;
	height:25px;
	padding-left:289px;
}
.pagingdiv{
	float:left;
	border-radius:4px;
	margin:20px 10px 10px 10px;
	padding:6px 5px 5px 5px;
	font-family:'Gotham-Book';
	color:#fff;
	font-size:18px;
	font-weight:normal;
	text-align:center;
	text-decoration:none;
	
	background-image: -webkit-gradient(linear, left top, left bottom, from(#8bac3a), to(#abca44));
	background-image: -webkit-linear-gradient(top, #8bac3a, #abca44);
	background-image: -moz-linear-gradient(top, #8bac3a, #abca44);
	background-image: -ms-linear-gradient(top, #8bac3a, #abca44);
	background-image: -o-linear-gradient(top, #8bac3a, #abca44);
	background-image: linear-gradient(to bottom, #8bac3a, #abca44);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#8bac3a, endColorstr=#abca44);
}
.pagingdiv ul{
	float:left;
	margin:0;
	padding:0;
}
.pagingdiv li{ 
	background-image: linear-gradient(to bottom, #FFFFFF, #E9E9E9);
	background-color:#EEEEEE;
    border: 1px solid #FFFFFF;
    border-radius: 3px 3px 3px 3px;
    float: left;
    font-size: 14px;
    list-style: none outside none;
    margin: 4px 2px;
    padding: 3px 5px;
	color:green;
}
.pagingdiv li a{ 
	font-size: 14px;
    text-decoration: none;
}		
/*------------------------End Model window css------------------------*/
#userlisting li { float: left; width:100%; list-style:none;}
#userlisting li div {	float:left;}
#Adtable {
		border-collapse: collapse; width:100%;
}
#Adtable th, td {
      padding: 5px 10px;
      border: 1px solid #999;
}
#Adtable th {
      background-color: #eee;
}
#Adtable th[data-sort]{
      cursor:pointer;
}
#Adtable tr.awesome{
      color: red;
}
#msg {
      color: green;
}
.adimg img { float:left; width:50px; height:50px; border:0px;}
.Adwrap { float:left; width:100%;}
.Adwrap form { float:left; width:100%;}
td .chbox{ float:left; width:10%;}
th .chbox{ float:left; width:10%;}
td .atag { float:left; width:89%;}
td .atag a { padding:2px 5px; text-decoration:none; cursor:pointer;}
.adlisterror{ float:left; width:100%; text-align:center; color:#A45900; height:25px;} 
.addnewbtn { float:right; width:85px; position:absolute; top:35px; right:0px;}
.adheading{ float:left; width:100%; margin:10px 0; padding:5px 0; text-align:center;}
.add_btn{
	width: auto;
	height:21px;
	float:left;
	border-radius:4px;
	margin:0px 5px 10px 5px;
	padding:6px 5px 5px 5px;
	
	font-family:'Gotham-Book';
	color:#fff;
	font-size:16px;
	font-weight:normal;
	text-align:center;
	text-decoration:none;
	
	background-image: -webkit-gradient(linear, left top, left bottom, from(#8bac3a), to(#abca44));
	background-image: -webkit-linear-gradient(top, #8bac3a, #abca44);
	background-image: -moz-linear-gradient(top, #8bac3a, #abca44);
	background-image: -ms-linear-gradient(top, #8bac3a, #abca44);
	background-image: -o-linear-gradient(top, #8bac3a, #abca44);
	background-image: linear-gradient(to bottom, #8bac3a, #abca44);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#8bac3a, endColorstr=#abca44);
	
}
#loderbox {
  z-index:999999999999999999999;
  position:absolute;
  left:0;
  top:0;
  z-index:9000;
  background-color:#fff;
  display:none;
  opacity:0.5!important;
}
#loderimg{
	width:200px;
	height:100px;
	position:absolute;
}
#save_detail{
	float: right;
	cursor:pointer;
}
#update_detail{
	float: right;
	cursor:pointer;
}
.loaderbar{
	float:right;
	margin-right:15px;
	margin-top:5px;
	display:none;
}		
#zipsetting{
	width:200px;
	height:50px;
	resize:none;
}
.strainpart{
	float:left;
	width:30%;
	padding:10px 1%;
}	 		
table#userlisting{ float:left; width:100%;}
table#userlisting td a{ text-decoration:none;}
#userlisting tr { }
#userlisting tr td{ border:none;border-bottom:solid 1px #999999; padding:10px;}
#userlisting tr th { /*border: none;border-bottom:solid 1px #999999;border-top:solid 1px #999999;*/ padding:7px;/* text-align:left;*/}	
.ademptymsg{	float:left; width:100%; text-align:center; padding:20px 0; font-size:16px;}


#boxes #dialog_strain {
    background-image: linear-gradient(to bottom, #E5E5E5, #FFFFFF);
    border: 1px solid #FFFFFF;
    min-height: 280px;
    padding: 0;
    width: 68%;
}

.strainboxdetail input[type="text"] {
    width: 80%;
}


.strainfrm {
    float: left;
    margin-top: 10px;
    width: 100%;
}


.strainlib_heading {
    color: black;
    float: left;
    height: 25px;
    text-align: center;
    width: 100%;
	font-size: 20px;
	margin-top:30px;
}
.strainboxdetail 
{
	margin:5px;
}


/*--claimed dispensary*/
#claimed_disp_header_one{ float:left; width:12%;}
#claimed_disp_header_two{ float:left; width:12%;}
#claimed_disp_header_three{ float:left; width:10%;}
#claimed_disp_header_four{ float:left; width:6%;}
#claimed_disp_header_five{ float:left; width:6%;}
#claimed_disp_header_six{ float:left; width:9%;}
.claimed_disp_header_two{ float:left; width:10%;}
.claimed_disp_header_three{ float:left; width:9%;}
.claimed_disp_header_four{ float:left; width:6%;}
.claimed_disp_header_five{ float:left; width:6.5%;}
.claimed_disp_header_six{ float:left; width:8%;}



.displihead{ border-bottom:solid 0px!important; background:#fff; margin-bottom:20px; min-height:100px;}
.check_con
{
	margin-left:10px;
}

 <!-- registration details-->.twopart {

.reg_detail_twopart {
    float: left;
    margin-left: 5%;
    width: 40%;
}
